Repository genshinsim/gcsim, pull requests merged in 2022-12, with the labels that each got.

#1116 add layla
  internal/characters/layla/asc.go
  internal/characters/layla/attack.go
  internal/characters/layla/burst.go
  internal/characters/layla/charge.go
  internal/characters/layla/cons.go
  internal/characters/layla/layla.go
  internal/characters/layla/shield.go
  internal/characters/layla/skill.go
  internal/characters/layla/stats.go
  pkg/core/combat/icd.go
  pkg/core/curves/charactercurves.go
  pkg/core/keys/char.go
  pkg/core/player/shield/shield.go
  pkg/optimization/details.go
  pkg/shortcut/characters.go
  pkg/simulation/imports.go
  scripts/charstat/main.go
Labels: area: internal, kind: game alignment

#1130 add Arataki ''The One and Oni'' Itto as "shortcut"
  pkg/shortcut/characters.go
Labels: kind: enhancement, area: pkg

#1134 new sets (3.3)
  app/public/locales/IngameNames.json
  assets/artifacts/desertpavilionchronicle_circlet.png
  assets/artifacts/desertpavilionchronicle_flower.png
  assets/artifacts/desertpavilionchronicle_goblet.png
  assets/artifacts/desertpavilionchronicle_plume.png
  assets/artifacts/desertpavilionchronicle_sands.png
  assets/artifacts/flowerofparadiselost_circlet.png
  assets/artifacts/flowerofparadiselost_flower.png
  assets/artifacts/flowerofparadiselost_goblet.png
  assets/artifacts/flowerofparadiselost_plume.png
  assets/artifacts/flowerofparadiselost_sands.png
  internal/artifacts/desertpavilionchronicle/desertpavilionchronicle.go
  internal/artifacts/flowerofparadiselost/flowerofparadiselost.go
  pkg/core/keys/sets.go
  pkg/shortcut/artifacts.go
  pkg/simulation/imports.go
Labels: area: internal, kind: game alignment

#1139 fix kuki e stacking infinitely due to missing src check
  internal/characters/kuki/cons.go
  internal/characters/kuki/kuki.go
  internal/characters/kuki/skill.go
Labels: kind: bug, area: internal

#1140 fix flat dmg wrongly using snapshotted stats
  internal/artifacts/echoes/echoes.go
  internal/characters/ayato/ayato.go
  internal/weapons/bow/hunterspath/hunterspath.go
  internal/weapons/claymore/redhorn/redhorn.go
  internal/weapons/sword/cinnabar/cinnnabar.go
Labels: kind: bug, area: internal

#1141 add faruzan implementation
  app/public/locales/IngameNames.json
  app/scripts/portrait-link.js
  app/src/Data/character_data.json
  app/yarn.lock
  internal/characters/faruzan/aimed.go
  internal/characters/faruzan/asc.go
  internal/characters/faruzan/attack.go
  internal/characters/faruzan/burst.go
  internal/characters/faruzan/cons.go
  internal/characters/faruzan/faruzan.go
  internal/characters/faruzan/skill.go
  internal/characters/faruzan/stats.go
  internal/characters/xiangling/guoba.go
  pkg/core/curves/charactercurves.go
  pkg/core/keys/char.go
  pkg/shortcut/characters.go
  pkg/simulation/imports.go
Labels: area: internal, kind: game alignment

#1144 add new weapons from 3.3
  assets/weapons/toukaboushigure.png
  assets/weapons/tulaytullahsremembrance.png
  internal/weapons/catalyst/athousandfloatingdreams/athousandfloatingdreams.go
  internal/weapons/catalyst/tulaytullahsremembrance/tulaytullahsremembrance.go
  internal/weapons/sword/toukaboushigure/toukaboushigure.go
  pkg/core/curves/weaponcurves.go
  pkg/core/keys/weapon.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
  scripts/weapstat/weapons.json
  scripts/weapstat/weapons_names.json
Labels: area: internal, kind: game alignment

#1145 fix toukabou shigure passive applying to hit that triggers it
  internal/weapons/sword/toukaboushigure/toukaboushigure.go
Labels: kind: bug, area: internal

#1149 add command line options for profiling
  cmd/gcsim/main.go
Labels: kind: enhancement

#1147 fixed kuki added faruzan and layla
  app/public/locales/English.json
  app/src/Components/Character/characters.tsx
  app/src/Components/Enka/GenshinData/DownloadFromEnkaScript.js
  app/src/Components/Enka/GenshinData/EnkaCharacterMap.json
  app/src/Components/Enka/GenshinData/EnkaTextMapEN.json
  app/src/Components/Enka/ImportFromEnkaDialog.tsx
  app/src/Components/GOOD/GOODToSrl.functions.ts
Labels: kind: enhancement, area: web
