Repository genshinsim/gcsim, pull requests merged in 2023-08, with the labels that each got.

#1596 fix source reaction bar chart text cutting off
  ui/packages/ui/src/Pages/Viewer/Components/Miscellaneous/SourceReactionsBarChart/BarChart.tsx
Labels: kind: bug, area: web

#1595 fix rare wanderer c6 - burst bug
  internal/characters/wanderer/burst.go
  internal/characters/wanderer/cons.go
  internal/characters/wanderer/plunge.go
Labels: kind: bug, area: internal

#1399 Initial implementation of Baron Bunny as a gadget
  internal/characters/amber/amber.go
  internal/characters/amber/bunny.go
  internal/characters/traveler/common/dendro/lealotus.go
  pkg/core/combat/gadget.go
Labels: area: internal, kind: game alignment

#1597 keqing recast e -> dash and CanQueueAfter, keqing a1 duration
  internal/characters/keqing/asc.go
  internal/characters/keqing/skill.go
Labels: kind: bug, area: internal

#1599 adjust itto ca combo slash abil name
  internal/characters/itto/asc.go
  internal/characters/itto/charge.go
Labels: kind: enhancement, area: internal

#1602 remove xingqiu e/q orbital param
  internal/characters/xingqiu/burst.go
  internal/characters/xingqiu/skill.go
  ui/packages/docs/src/components/Params/character_data.json
Labels: kind: enhancement, area: internal

#1601 adjust log category presets
  ui/packages/ui/src/Pages/Sample/Components/SampleOptions.ts
  ui/packages/ui/src/Pages/Sample/Components/parse.ts
Labels: kind: enhancement, area: web

#1604 add missing weapon pipeline data for weapon select
  internal/weapons/bow/ibispiercer/config.yml
  internal/weapons/catalyst/jadefallssplendor/config.yml
  internal/weapons/claymore/beacon/config.yml
  internal/weapons/claymore/mailedflower/config.yml
  ui/packages/ui/src/Data/weapon_data.generated.json
Labels: kind: bug, area: web

#1605 fix kirara c4 hitlag
  internal/characters/kirara/cons.go
Labels: kind: bug, area: internal

#1606 fix wanderer a1
  internal/characters/wanderer/asc.go
  internal/characters/wanderer/skill.go
  internal/characters/wanderer/wanderer.go
Labels: kind: bug, area: internal

#1608 remove sacrificial series force param
  internal/weapons/common/sacrificial.go
  ui/packages/docs/src/components/Params/weapon_data.json
Labels: kind: enhancement, area: internal

#1613 fix tighnari and venti na icds
  internal/characters/tighnari/attack.go
  internal/characters/venti/attack.go
Labels: kind: bug, area: internal

#1614 fix keqing a1, na/ca frames and n1 -> ca
  internal/characters/keqing/asc.go
  internal/characters/keqing/attack.go
  internal/characters/keqing/charge.go
Labels: kind: bug, area: internal

#1611 add zone for fontaine to char profile
  pkg/core/player/character/profile/profile.go
Labels: area: pkg, kind: game alignment

#1612 update character param docs
  ui/packages/docs/src/components/Params/character_data.json
Labels: area: documentation, kind: enhancement

#1623 update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: area: documentation, kind: enhancement

#1620 fix wanderer a4 being able to proc 2 times in 1 dash
  internal/characters/wanderer/asc.go
  internal/characters/wanderer/skill.go
Labels: kind: bug, area: internal

#1622 Update README.md
  README.md
Labels: area: documentation, kind: enhancement

#1621 Adjust warnings
  backend/cmd/preview/dist/assets/index.js
  ui/packages/docs/docs/guides/understanding_config_files.md
  ui/packages/embed/src/Layout/Metadata.tsx
  ui/packages/ui/src/Pages/Viewer/Components/Warnings.tsx
Labels: kind: enhancement, area: web

#1624 Add 4.0 sets
  internal/artifacts/goldentroupe/config.yml
  internal/artifacts/goldentroupe/goldentroupe.go
  internal/artifacts/marechausseehunter/config.yml
  internal/artifacts/marechausseehunter/marechausseehunter.go
  pkg/core/keys/sets.go
  pkg/shortcut/artifacts.go
  pkg/simulation/imports.go
  ui/packages/docs/docs/reference/artifacts/goldentroupe.md
  ui/packages/docs/docs/reference/artifacts/marechausseehunter.md
  ui/packages/docs/src/components/Names/artifact_data.json
  ui/packages/ui/src/Data/artifact_data.generated.json
Labels: area: internal, kind: game alignment

#1631 add healdebt for bond of life passive
  pkg/core/player/character/character.go
  pkg/core/player/character/stats.go
  pkg/core/player/heal.go
Labels: kind: enhancement, area: pkg, area: internal

#1628 add thefirstgreatmagic weapon
  internal/weapons/bow/firstgreatmagic/config.yml
  internal/weapons/bow/firstgreatmagic/firstgreatmagic.go
  pkg/core/curves/weaponcurves.go
  pkg/core/keys/weapon.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
  ui/packages/docs/docs/reference/weapons/thefirstgreatmagic.md
  ui/packages/docs/src/components/Names/weapon_data.json
  ui/packages/ui/src/Data/weapon_data.generated.json
Labels: area: internal, kind: game alignment

#1630 add new bp weapons
  internal/weapons/bow/scionoftheblazingsun/config.yml
  internal/weapons/bow/scionoftheblazingsun/scionoftheblazingsun.go
  internal/weapons/catalyst/sacrificialjade/config.yml
  internal/weapons/catalyst/sacrificialjade/sacrificialjade.go
  internal/weapons/claymore/talkingstick/config.yml
  internal/weapons/claymore/talkingstick/talkingstick.go
  internal/weapons/spear/balladofthefjords/balladofthefjords.go
  internal/weapons/spear/balladofthefjords/config.yml
  internal/weapons/sword/wolffang/config.yml
  internal/weapons/sword/wolffang/wolffang.go
  pkg/core/curves/weaponcurves.go
  pkg/core/keys/weapon.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
  ui/packages/docs/docs/reference/weapons/balladofthefjords.md
  ui/packages/docs/docs/reference/weapons/sacrificialjade.md
  ui/packages/docs/docs/reference/weapons/scionoftheblazingsun.md
  ui/packages/docs/docs/reference/weapons/talkingstick.md
  ui/packages/docs/docs/reference/weapons/wolffang.md
  ui/packages/docs/src/components/AoE/weapon_data.json
  ui/packages/docs/src/components/Issues/weapon_data.json
  ui/packages/docs/src/components/Names/weapon_data.json
  ui/packages/ui/src/Data/weapon_data.generated.json
Labels: area: internal, kind: game alignment

#1636 add ui names for new things in 4.0
  ui/package.json
  ui/packages/ui/src/Translation/locales/IngameNames.json
  ui/yarn.lock
Labels: kind: bug, area: web

#1637 fix mh sims running infinitely on heal
  internal/artifacts/marechausseehunter/marechausseehunter.go
Labels: kind: bug, area: internal

#1641 fix goldentroupe 2pc
  internal/artifacts/goldentroupe/goldentroupe.go
Labels: kind: bug, area: internal

#1643 Add 4.0 craftable
  internal/weapons/bow/songofstillness/config.yml
  internal/weapons/bow/songofstillness/songofstillness.go
  internal/weapons/catalyst/flowingpurity/config.yml
  internal/weapons/catalyst/flowingpurity/flowingpurity.go
  internal/weapons/claymore/tidalshadow/config.yml
  internal/weapons/claymore/tidalshadow/tidalshadow.go
  internal/weapons/spear/rightfulreward/config.yml
  internal/weapons/spear/rightfulreward/rightfulreward.go
  internal/weapons/sword/finaleofthedeep/config.yml
  internal/weapons/sword/finaleofthedeep/finaleofthedeep.go
  pkg/core/curves/weaponcurves.go
  pkg/core/keys/weapon.go
  pkg/core/player/character/stats.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
  ui/packages/db/src/Data/char_data.generated.json
  ui/packages/docs/docs/reference/weapons/finaleofthedeep.md
  ui/packages/docs/docs/reference/weapons/flowingpurity.md
  ui/packages/docs/docs/reference/weapons/rightfulreward.md
  ui/packages/docs/docs/reference/weapons/songofstillness.md
  ui/packages/docs/docs/reference/weapons/tidalshadow.md
  ui/packages/docs/src/components/Names/weapon_data.json
  ui/packages/ui/src/Data/artifact_data.generated.json
  ui/packages/ui/src/Data/char_data.generated.json
  ui/packages/ui/src/Data/weapon_data.generated.json
Labels: area: internal, kind: game alignment

#1642 fix male traveler ids in config
  internal/characters/traveler/anemo/aether/config.yml
  internal/characters/traveler/dendro/aether/config.yml
  internal/characters/traveler/electro/aether/config.yml
  internal/characters/traveler/geo/aether/config.yml
  ui/packages/db/src/Data/char_data.generated.json
  ui/packages/ui/src/Data/char_data.generated.json
Labels: kind: bug, area: internal

#1654 fix mh triggering on heal if hp already max
  internal/artifacts/marechausseehunter/marechausseehunter.go
Labels: kind: bug, area: internal

#1626 add lyney
  internal/characters/lyney/aimed.go
  internal/characters/lyney/asc.go
  internal/characters/lyney/attack.go
  internal/characters/lyney/burst.go
  internal/characters/lyney/config.yml
  internal/characters/lyney/cons.go
  internal/characters/lyney/grinmalkinhat.go
  internal/characters/lyney/lyney.go
  internal/characters/lyney/skill.go
  internal/characters/lyney/stats.go
  internal/common/normalattackstate.go
  pkg/core/attacks/icd.go
  pkg/core/combat/gadget.go
  pkg/core/curves/charactercurves.go
  pkg/core/keys/char.go
  pkg/shortcut/characters.go
  pkg/simulation/imports.go
  ui/packages/db/src/Data/char_data.generated.json
  ui/packages/docs/docs/reference/characters/lyney.md
  ui/packages/docs/src/components/Actions/character_data.json
  ui/packages/docs/src/components/AoE/character_data.json
  ui/packages/docs/src/components/Frames/character_data.json
  ui/packages/docs/src/components/Hitlag/character_data.json
  ui/packages/docs/src/components/Names/character_data.json
  ui/packages/docs/src/components/Params/character_data.json
  ui/packages/ui/src/Data/char_data.generated.json
Labels: area: internal, kind: game alignment

#1664 fix fischl oz conditional breaking during q
  internal/characters/fischl/skill.go
Labels: kind: bug, area: internal

#1665 empty map
  pkg/gcs/ast/parse.go
  pkg/gcs/ast/parseCharacterAction.go
  pkg/gcs/expr.go
  pkg/gcs/sysfunc.go
Labels: kind: enhancement, area: pkg

#1663 fix player dmg drain missing external
  pkg/avatar/avatar.go
Labels: kind: bug, area: pkg

#1662 adjust alhaitham q mirror gain timing
  internal/characters/alhaitham/burst.go
Labels: area: internal, kind: game alignment

#1627 add lynette
  internal/characters/lynette/asc.go
  internal/characters/lynette/attack.go
  internal/characters/lynette/bogglecatbox.go
  internal/characters/lynette/burst.go
  internal/characters/lynette/charge.go
  internal/characters/lynette/config.yml
  internal/characters/lynette/cons.go
  internal/characters/lynette/lynette.go
  internal/characters/lynette/skill.go
  internal/characters/lynette/stats.go
  pkg/core/combat/gadget.go
  pkg/core/curves/charactercurves.go
  pkg/core/keys/char.go
  pkg/shortcut/characters.go
  pkg/simulation/imports.go
  ui/packages/db/src/Data/char_data.generated.json
  ui/packages/docs/docs/reference/characters/lynette.md
  ui/packages/docs/src/components/Actions/character_data.json
  ui/packages/docs/src/components/AoE/character_data.json
  ui/packages/docs/src/components/Frames/character_data.json
  ui/packages/docs/src/components/Hitlag/character_data.json
  ui/packages/docs/src/components/Names/character_data.json
  ui/packages/docs/src/components/Params/character_data.json
  ui/packages/ui/src/Data/char_data.generated.json
Labels: area: internal, kind: game alignment

#1669 fix target overlap warning on every target move
  pkg/stats/position/position.go
Labels: kind: bug, area: pkg

#1674 fix enka import for gd and mh
  internal/artifacts/goldentroupe/config.yml
  internal/artifacts/marechausseehunter/config.yml
  ui/packages/ui/src/Data/artifact_data.generated.json
Labels: kind: bug, area: web

#1678 fix element dps being 0 if min is 0
  pkg/agg/damage/damage.go
Labels: kind: bug, area: pkg

#1679 fix energy warning condition leading to no warning
  pkg/agg/warnings/warnings.go
Labels: kind: bug, area: pkg
