Repository genshinsim/gcsim, pull requests merged in 2023-09, with the labels that each got.

#1680 expose lyney prop surplus stack count as condition
  internal/characters/lyney/lyney.go
  ui/packages/docs/src/components/Fields/character_data.json
Labels: kind: enhancement, area: internal

#1685 change unsigned to unofficial for clarity
  ui/packages/ui/src/Pages/Viewer/Components/Overview/Metadata/DevBuild.tsx
Labels: kind: enhancement, area: web

#1682 fix config page not displaying exact errors
  pkg/gcs/ast/parse.go
  pkg/simulator/simulator.go
Labels: kind: enhancement, area: pkg

#1683 add bloom logs for better sample readability
  pkg/reactable/bloom.go
Labels: kind: enhancement, area: pkg

#1689 update character frames page based on feedback
  ui/packages/docs/docs/mechanics/frames.md
Labels: area: documentation, kind: enhancement

#1698 fix ganyu bloom travel
  internal/characters/ganyu/aimed.go
  ui/packages/docs/src/components/Params/character_data.json
Labels: kind: bug, area: internal

#1700 Add back hurt syntax
  internal/artifacts/marechausseehunter/marechausseehunter.go
  internal/artifacts/vourukashasglow/vourukashasglow.go
  internal/weapons/claymore/beacon/beacon.go
  internal/weapons/sword/alley/alley.go
  internal/weapons/sword/aquila/aquila.go
  pkg/core/info/actionlist.go
  pkg/gcs/ast/item.go
  pkg/gcs/ast/keys.go
  pkg/gcs/ast/parse.go
  pkg/gcs/ast/parseHurt.go
  pkg/simulation/config.go
  pkg/simulation/run.go
  pkg/simulation/setup.go
  ui/packages/docs/docs/guides/understanding_config_files.md
  ui/packages/docs/docs/reference/config.md
  ui/packages/docs/src/components/Params/artifact_data.json
  ui/packages/docs/src/components/Params/weapon_data.json
Labels: kind: enhancement, area: pkg

#1704 fix phys -> physical in hurt related files
  pkg/gcs/ast/parseHurt.go
  pkg/simulation/setup.go
  ui/packages/docs/docs/guides/understanding_config_files.md
  ui/packages/docs/docs/reference/config.md
Labels: kind: bug, area: documentation

#1708 adjust xiangling a4 to not automatically trigger
  internal/characters/xiangling/skill.go
  ui/packages/docs/src/components/Params/character_data.json
Labels: area: internal, kind: game alignment

#1709 Added sortby dps and create date options
  ui/packages/db/src/App.tsx
  ui/packages/db/src/Pages/Database/DBVIew.tsx
  ui/packages/db/src/Pages/Database/Database.tsx
  ui/packages/db/src/Pages/Database/index.ts
  ui/packages/db/src/Pages/TagDatabase.tsx
  ui/packages/db/src/Sectioning/Nav.tsx
  ui/packages/db/src/SharedComponents/DBEntryView.tsx
  ui/packages/db/src/SharedComponents/DBEntryViewComponents/DBEntryTags.tsx
  ui/packages/db/src/SharedComponents/Filter.tsx
  ui/packages/db/src/SharedComponents/FilterComponents/Filter.utils.ts
  ui/packages/db/src/SharedComponents/FilterComponents/FilterPotrait.tsx
  ui/packages/db/src/SharedComponents/Pagination.tsx
  ui/packages/db/src/SharedComponents/Sorter.tsx
  ui/packages/db/src/SharedComponents/Warning.tsx
  ui/packages/db/src/SharedHooks/databaseQuery.ts
Labels: kind: enhancement, area: web

#1710 fix kazuha q snapshot timing
  internal/characters/kazuha/burst.go
  internal/characters/kazuha/kazuha.go
Labels: kind: bug, area: internal

#1640 Implement Hydro MC
  internal/characters/traveler/common/hydro/asc.go
  internal/characters/traveler/common/hydro/attack.go
  internal/characters/traveler/common/hydro/burst.go
  internal/characters/traveler/common/hydro/charge.go
  internal/characters/traveler/common/hydro/cons.go
  internal/characters/traveler/common/hydro/dash.go
  internal/characters/traveler/common/hydro/skill.go
  internal/characters/traveler/common/hydro/stats.go
  internal/characters/traveler/common/hydro/travelerhydro.go
  internal/characters/traveler/hydro/aether/aether.go
  internal/characters/traveler/hydro/aether/config.yml
  internal/characters/traveler/hydro/lumine/config.yml
  internal/characters/traveler/hydro/lumine/lumine.go
  internal/common/sourcewaterdroplet.go
  pkg/core/attacks/icd.go
  pkg/core/attributes/element.go
  pkg/core/combat/gadget.go
  pkg/core/player/shield/shield.go
  pkg/simulation/imports.go
  ui/packages/db/src/Data/char_data.generated.json
  ui/packages/docs/docs/reference/characters/travelerhydro.md
  ui/packages/docs/src/components/Actions/character_data.json
  ui/packages/docs/src/components/AoE/character_data.json
  ui/packages/docs/src/components/Fields/character_data.json
  ui/packages/docs/src/components/Frames/character_data.json
  ui/packages/docs/src/components/Names/character_data.json
  ui/packages/docs/src/components/Params/character_data.json
  ui/packages/ui/src/Data/char_data.generated.json
Labels: area: internal, kind: game alignment
