Repository genshinsim/gcsim, pull requests merged in 2023-05, with the labels that each got.

#1352 fix heal logging
  pkg/core/player/heal.go
Labels: kind: enhancement, area: internal

#1353 kaveh bugfixes and cleanup
  internal/characters/kaveh/asc.go
  internal/characters/kaveh/attack.go
  internal/characters/kaveh/cons.go
  internal/characters/kaveh/skill.go
  internal/characters/kaveh/stats.go
Labels: kind: bug, area: internal

#1351 baizhu bugfixes and cleanup
  internal/characters/baizhu/asc.go
  internal/characters/baizhu/attack.go
  internal/characters/baizhu/burst.go
  internal/characters/baizhu/charge.go
  internal/characters/baizhu/cons.go
  internal/characters/baizhu/shield.go
  internal/characters/baizhu/skill.go
  internal/characters/baizhu/stats.go
  pkg/core/attacks/icd.go
Labels: kind: bug, area: internal

#1354 fix yae na and ca hitboxes
  internal/characters/yaemiko/attack.go
  internal/characters/yaemiko/charge.go
  pkg/core/attacks/icd.go
Labels: kind: bug, area: internal

#1350 mika bugfixes and cleanup
  internal/characters/kazuha/attack.go
  internal/characters/mika/asc.go
  internal/characters/mika/attack.go
  internal/characters/mika/burst.go
  internal/characters/mika/charge.go
  internal/characters/mika/mika.go
  internal/characters/mika/skill.go
  internal/characters/raiden/attack.go
Labels: kind: bug, area: internal

#1341 Delayed chongyun's skill field until hitmark
  internal/characters/chongyun/skill.go
Labels: kind: bug, area: internal

#1356 fix diluc q hitbox
  internal/characters/diluc/burst.go
  internal/characters/thoma/burst.go
Labels: kind: bug, area: internal

#1357 baizhu frames + bugfixes
  internal/characters/baizhu/attack.go
  internal/characters/baizhu/burst.go
  internal/characters/baizhu/charge.go
  internal/characters/baizhu/cons.go
  internal/characters/baizhu/skill.go
  internal/common/normalattackstate.go
  pkg/result/check.go
Labels: kind: bug, area: internal

#1362 fix eye of perception implementation
  internal/weapons/catalyst/perception/perception.go
Labels: kind: bug, area: internal

#1366 add ibis piercer
  internal/weapons/bow/ibispiercer/ibispiercer.go
  pkg/core/curves/weaponcurves.go
  pkg/core/keys/weapon.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
Labels: area: internal, kind: game alignment

#1363 kirara init
  internal/characters/kirara/asc.go
  internal/characters/kirara/attack.go
  internal/characters/kirara/burst.go
  internal/characters/kirara/charge.go
  internal/characters/kirara/cons.go
  internal/characters/kirara/kirara.go
  internal/characters/kirara/shield.go
  internal/characters/kirara/skill.go
  internal/characters/kirara/stats.go
  internal/common/normalattackstate.go
  pkg/core/curves/charactercurves.go
  pkg/core/keys/char.go
  pkg/core/player/shield/shield.go
  pkg/shortcut/characters.go
  pkg/simulation/imports.go
Labels: area: internal, kind: game alignment

#1365 add jadefall's splendor
  internal/characters/baizhu/shield.go
  internal/characters/beidou/burst.go
  internal/characters/beidou/skill.go
  internal/characters/candace/skill.go
  internal/characters/diona/skill.go
  internal/characters/kaeya/cons.go
  internal/characters/layla/shield.go
  internal/characters/noelle/asc.go
  internal/characters/noelle/shield.go
  internal/characters/thoma/shield.go
  internal/characters/xinyan/shield.go
  internal/characters/yanfei/cons.go
  internal/characters/yunjin/skill.go
  internal/characters/zhongli/shield.go
  internal/weapons/catalyst/jadefallssplendor/jadefallssplendor.go
  internal/weapons/claymore/bell/bell.go
  pkg/core/curves/weaponcurves.go
  pkg/core/keys/weapon.go
  pkg/core/player/shield/shield.go
  pkg/core/player/shield/template.go
  pkg/reactable/crystallize.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
Labels: area: pkg, area: internal, kind: game alignment

#1368 fix sayu absorb roll aoe
  internal/characters/sayu/skill.go
Labels: kind: bug, area: internal
