Repository genshinsim/gcsim, pull requests merged in 2023-01, with the labels that each got.

#1201 adjust hyperbloom travel time and dendro core spawn delay
  internal/tests/reactable/hyperbloom_test.go
  pkg/reactable/bloom.go
Labels: area: pkg, kind: game alignment

#1206 fix bloom core hurtbox radius
  internal/characters/nilou/bountifulcore.go
  pkg/reactable/bloom.go
Labels: kind: bug, area: pkg

#1104 add enemy checks to callbacks, bug fixes, small refactors
  internal/characters/aloy/skill.go
  internal/characters/amber/asc.go
  internal/characters/ayaka/cons.go
  internal/characters/ayaka/dash.go
  internal/characters/barbara/attack.go
  internal/characters/barbara/charge.go
  internal/characters/eula/skill.go
  internal/characters/heizou/skill.go
  internal/characters/hutao/burst.go
  internal/characters/jean/asc.go
  internal/characters/jean/attack.go
  internal/characters/jean/burst.go
  internal/characters/keqing/cons.go
  internal/characters/lisa/skill.go
  internal/characters/mona/cons.go
  internal/characters/nilou/cons.go
  internal/characters/noelle/asc.go
  internal/characters/noelle/attack.go
  internal/characters/noelle/burst.go
  internal/characters/noelle/skill.go
  internal/characters/raiden/burst.go
  internal/characters/razor/attack.go
  internal/characters/razor/cons.go
  internal/characters/razor/razor.go
  internal/characters/razor/skill.go
  internal/characters/rosaria/asc.go
  internal/characters/rosaria/burst.go
  internal/characters/rosaria/cons.go
  internal/characters/rosaria/skill.go
  internal/characters/sara/asc.go
  internal/characters/sara/burst.go
  internal/characters/sucrose/attack.go
  internal/characters/sucrose/burst.go
  internal/characters/sucrose/charge.go
  internal/characters/sucrose/cons.go
  internal/characters/sucrose/skill.go
  internal/characters/travelerdendro/cons.go
  internal/characters/travelerelectro/skill.go
  internal/characters/xingqiu/burst.go
  internal/characters/yaemiko/kitsune.go
  internal/characters/yanfei/attack.go
  internal/characters/yanfei/skill.go
  internal/characters/yelan/skill.go
  internal/characters/yoimiya/burst.go
Labels: kind: bug, area: internal

#1212 fix swapped attack offset indexes
  internal/characters/sayu/attack.go
  internal/characters/tartaglia/attack.go
Labels: kind: bug, area: internal

#1218 C2 Hutao burst fix
  internal/characters/hutao/burst.go
Labels: kind: bug, area: internal

#1224 add skeleton ui fro db
  .gitignore
  backend/scripts/migratedb/main.go
  ui/.eslintrc.json
  ui/package.json
  ui/packages/db/.gitignore
  ui/packages/db/index.html
  ui/packages/db/package.json
  ui/packages/db/public/images/favicon.ico
  ui/packages/db/public/wasm_exec.js
  ui/packages/db/src/App.tsx
  ui/packages/db/src/Pages/Database/Components/DBEntryView.tsx
  ui/packages/db/src/Pages/Database/Components/mockData.ts
  ui/packages/db/src/Pages/Database/Filter.tsx
  ui/packages/db/src/Pages/Database/ListView.tsx
  ui/packages/db/src/Pages/Database/database.tsx
  ui/packages/db/src/PipelineExtract/CharacterNames..ts
  ui/packages/db/src/Sectioning/Nav.tsx
  ui/packages/db/src/Sectioning/layout.tsx
  ui/packages/db/src/Sectioning/logo.png
  ui/packages/db/src/api/FetchDataFromDB.ts
  ui/packages/db/src/index.css
  ui/packages/db/src/index.tsx
  ui/packages/db/src/vite-env.d.ts
  ui/packages/db/tailwind.config.cjs
  ui/packages/db/tsconfig.json
  ui/packages/db/vite.config.ts
  ui/packages/types/src/index.ts
  ui/packages/types/src/protos.d.ts
  ui/yarn.lock
Labels: kind: enhancement, area: web

#1150 Add Wanderer Implementation
  app/public/locales/IngameNames.json
  app/scripts/portrait-link.js
  app/src/Data/character_data.json
  internal/characters/wanderer/asc.go
  internal/characters/wanderer/attack.go
  internal/characters/wanderer/burst.go
  internal/characters/wanderer/charge.go
  internal/characters/wanderer/cons.go
  internal/characters/wanderer/dash.go
  internal/characters/wanderer/jump.go
  internal/characters/wanderer/plunge.go
  internal/characters/wanderer/skill.go
  internal/characters/wanderer/stats.go
  internal/characters/wanderer/wanderer.go
  pkg/core/combat/icd.go
  pkg/core/curves/charactercurves.go
  pkg/core/keys/char.go
  pkg/shortcut/characters.go
  pkg/simulation/imports.go
  scripts/charstat/main.go
  scripts/keymap/character_data.json
Labels: area: internal, kind: game alignment

#1167 Added N0 timing implementation framework
  internal/characters/ayato/attack.go
  internal/characters/ayato/ayato.go
  internal/characters/ayato/skill.go
  internal/characters/cyno/asc.go
  internal/characters/cyno/attack.go
  internal/characters/cyno/burst.go
  internal/characters/cyno/charge.go
  internal/characters/cyno/cyno.go
  internal/characters/cyno/skill.go
  internal/characters/raiden/attack.go
  internal/characters/raiden/burst.go
  internal/characters/raiden/charge.go
  internal/characters/raiden/raiden.go
  internal/characters/raiden/skill.go
  internal/characters/tartaglia/aimed.go
  internal/characters/tartaglia/attack.go
  internal/characters/tartaglia/burst.go
  internal/characters/tartaglia/charge.go
  internal/characters/tartaglia/riptide.go
  internal/characters/tartaglia/skill.go
  internal/characters/tartaglia/tartaglia.go
  internal/characters/thoma/burst.go
  internal/characters/thoma/thoma.go
  internal/characters/xingqiu/burst.go
  internal/characters/xingqiu/xingqiu.go
  internal/characters/yelan/burst.go
  internal/characters/yelan/skill.go
  internal/characters/yelan/yelan.go
  internal/common/normalattackstate.go
  pkg/core/player/animation/animation.go
Labels: area: internal, kind: game alignment

#1239 adjust player radius
  pkg/gcs/ast/parser.go
Labels: area: pkg, kind: game alignment

#1247 fix sayu q logic
  internal/characters/sayu/burst.go
  pkg/core/player/player.go
Labels: kind: bug, area: internal

#1248 fix lost prayer having lower dmg%
  internal/weapons/catalyst/prayer/prayer.go
Labels: kind: bug, area: internal

#1252 fix albedo q snapshot, a4 and c2 timing
  internal/characters/albedo/burst.go
Labels: kind: bug, area: internal

#1253 fix raiden c4 timing not being affected by hitlag
  internal/characters/raiden/burst.go
Labels: kind: bug, area: internal

#1254 fix kazuha c2 timing
  internal/characters/kazuha/burst.go
Labels: kind: bug, area: internal

#1255 fix amber c2 being mv instead of dmg%
  internal/characters/amber/amber.go
  internal/characters/amber/bunny.go
  internal/characters/amber/cons.go
Labels: kind: bug, area: internal

#1256 add recurve bow passive
  internal/weapons/bow/recurve/recurve.go
Labels: area: internal, kind: game alignment

#1235 alhaitham implementation
  app/src/Components/Character/characters.tsx
  internal/characters/alhaitham/alhaitham.go
  internal/characters/alhaitham/asc.go
  internal/characters/alhaitham/attack.go
  internal/characters/alhaitham/burst.go
  internal/characters/alhaitham/charge.go
  internal/characters/alhaitham/cons.go
  internal/characters/alhaitham/plunge.go
  internal/characters/alhaitham/skill.go
  internal/characters/alhaitham/stats.go
  internal/common/normalattackstate.go
  pkg/core/combat/icd.go
  pkg/core/curves/charactercurves.go
  pkg/core/keys/char.go
  pkg/shortcut/characters.go
  pkg/simulation/imports.go
  scripts/charstat/main.go
  scripts/keymap/character_data.json
Labels: area: internal, kind: game alignment

#1236 Added Light of Foliar Incision
  internal/weapons/sword/foliar/foliar.go
  pkg/core/curves/weaponcurves.go
  pkg/core/keys/weapon.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
  scripts/weapstat/weapons.json
  scripts/weapstat/weapons_names.json
Labels: area: internal, kind: game alignment

#1257 update web for 3.4
  app/package.json
  app/public/locales/IngameNames.json
  app/scripts/portrait-link.js
  app/yarn.lock
Labels: area: web, kind: game alignment

#1258 fix recurve bow init
  internal/weapons/bow/recurve/recurve.go
Labels: kind: bug, area: internal

#1259 fix foliar key name and name order
  internal/weapons/sword/foliar/foliar.go
  pkg/core/curves/weaponcurves.go
  pkg/core/keys/weapon.go
  pkg/shortcut/weapons.go
  scripts/weapstat/weapons.json
  scripts/weapstat/weapons_names.json
Labels: kind: bug, area: internal

#1261 adjust alhaitham low plunge default length
  internal/characters/alhaitham/plunge.go
Labels: area: internal, kind: game alignment

#1262 fix shenhe a1, c2 and q shred duration
  internal/characters/shenhe/burst.go
Labels: kind: bug, area: internal

#1264 fix sara q stormcluster pos
  internal/characters/sara/burst.go
Labels: kind: bug, area: internal

#1263 refactor yelan breakthrough state
  internal/characters/yelan/aimed.go
  internal/characters/yelan/skill.go
  internal/characters/yelan/yelan.go
Labels: kind: bug, area: internal

#1265 fix constructs and zhongli stele
  internal/characters/zhongli/stele.go
  internal/characters/zhongli/zhongli.go
  pkg/core/construct/handler.go
Labels: kind: bug, area: internal
