Repository genshinsim/gcsim, pull requests merged in 2023-02, with the labels that each got.

#1269 fix sara q stormcluster initial offset
  internal/characters/sara/burst.go
Labels: kind: bug, area: internal

#1273 fix freeze durability calculation
  pkg/reactable/freeze.go
  pkg/reactable/freeze_test.go
  pkg/reactable/reactable.go
Labels: kind: bug, area: internal

#1275 fix alhaitham projections not centering on player
  internal/characters/alhaitham/skill.go
Labels: kind: bug, area: internal

#1272 fix ningguang star jades not getting reset on swap
  internal/characters/ningguang/ningguang.go
Labels: kind: bug, area: internal

#1277 fix stacking of millennial buffs of same type
  internal/weapons/bow/elegy/elegy.go
  internal/weapons/claymore/pines/pines.go
  internal/weapons/common/millennial.go
  internal/weapons/sword/freedom/freedom.go
Labels: kind: bug, area: internal

#1284 Fix Wanderer CA (in E) scaling and other scaling fixes
  internal/characters/alhaitham/stats.go
  internal/characters/amber/stats.go
  internal/characters/ayato/stats.go
  internal/characters/heizou/stats.go
  internal/characters/shenhe/stats.go
  internal/characters/thoma/stats.go
  internal/characters/wanderer/charge.go
  internal/characters/wanderer/stats.go
  internal/characters/yelan/stats.go
Labels: kind: bug, area: internal

#1285 Updated hitlag extension to ceil on ApplyHitlag
  pkg/core/player/character/character.go
  pkg/core/player/character/hitlag.go
  pkg/core/player/character/mods.go
  pkg/enemy/enemy.go
  pkg/enemy/hitlag.go
  pkg/modifier/modifier.go
  pkg/queue/tasks.go
Labels: kind: bug, area: pkg

#1290 implement hu tao pp slide
  internal/characters/hutao/charge.go
  pkg/modifier/modifier.go
Labels: kind: bug, area: internal

#1293 fix diona particle generation
  internal/characters/diona/skill.go
Labels: kind: bug, area: internal

#1298 fix alhaitham low plunge element in code
  internal/characters/alhaitham/plunge.go
Labels: kind: bug, area: internal

#1299 fix fischl oz hitbox snapshotting on summon
  internal/characters/fischl/fischl.go
  internal/characters/fischl/skill.go
Labels: kind: bug, area: internal

#1297 implement kazuha glide cancel
  internal/characters/kazuha/plunge.go
  internal/characters/kazuha/skill.go
Labels: area: internal, kind: game alignment

#1302 Extra stats
  internal/artifacts/emblem/emblem.go
  internal/characters/bennett/burst.go
  internal/characters/hutao/skill.go
  internal/characters/itto/burst.go
  internal/characters/kazuha/asc.go
  internal/characters/kokomi/cons.go
  internal/characters/mona/asc.go
  internal/characters/mona/mona.go
  internal/characters/nahida/asc.go
  internal/characters/nilou/asc.go
  internal/characters/nilou/cons.go
  internal/characters/noelle/burst.go
  internal/characters/raiden/asc.go
  internal/characters/raiden/burst.go
  internal/characters/raiden/raiden.go
  internal/characters/rosaria/asc.go
  internal/characters/sara/asc.go
  internal/characters/sara/skill.go
  internal/characters/sucrose/asc.go
  internal/characters/travelerelectro/skill.go
  internal/weapons/catalyst/wanderingevenstar/wanderingevenstar.go
  internal/weapons/claymore/aquamarine/aquamarine.go
  internal/weapons/spear/engulfing/engulfing.go
  internal/weapons/spear/homa/homa.go
  internal/weapons/spear/scarletsands/scarletsands.go
  internal/weapons/sword/keyofkhajnisut/keyofkhajnisut.go
  internal/weapons/sword/xiphos/xiphos.go
  pkg/core/player/character/mods.go
  pkg/core/player/character/stats.go
Labels: kind: bug, area: internal

#1306 Fixed gladiator applying to Charged Attacks
  internal/artifacts/gladiator/gladiator.go
Labels: kind: bug, area: internal
