Repository genshinsim/gcsim, pull requests merged in 2024-11, with the labels that each got.

#2239 gcsl numbers
  pkg/gcs/op.go
  pkg/gcs/sysfunc.go
Labels: kind: bug, area: pkg

#2264 implement xianyun lisa plunge & lisa n0
  internal/characters/lisa/config.yml
  internal/characters/lisa/lisa.go
  internal/characters/lisa/lisa_gen.go
  internal/characters/lisa/plunge.go
  ui/packages/docs/src/components/Actions/character_data.json
  ui/packages/docs/src/components/AoE/character_data.json
  ui/packages/docs/src/components/Frames/character_data.json
  ui/packages/docs/src/components/Params/character_data.json
Labels: area: internal, kind: game alignment

#2269 Fix klee A1 and CA snapshot
  internal/characters/klee/asc.go
  internal/characters/klee/charge.go
  internal/characters/klee/klee.go
Labels: kind: bug, area: internal

#2270 Fix clorinde A1 not triggering on hyperbloom
  internal/characters/clorinde/asc.go
Labels: kind: bug, area: internal

#2271 Fix raiden skill timing and self dmg check
  internal/characters/raiden/skill.go
Labels: kind: bug, area: internal

#2273 Fix fischl A4 icd
  internal/characters/fischl/asc.go
Labels: kind: bug, area: internal

#2272 Use minazuki watcher for fischl C6
  internal/characters/fischl/asc.go
  internal/characters/fischl/attack.go
  internal/characters/fischl/cons.go
  internal/characters/fischl/fischl.go
  internal/characters/fischl/skill.go
  internal/template/minazuki/minazuki.go
Labels: kind: bug, area: internal

#2268 add calamity of eshu
  internal/services/assets/weapons_gen.go
  internal/weapons/sword/calamityofeshu/calamityofeshu.go
  internal/weapons/sword/calamityofeshu/calamityofeshu_gen.go
  internal/weapons/sword/calamityofeshu/config.yml
  internal/weapons/sword/calamityofeshu/data_gen.textproto
  pkg/core/keys/weapon.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
  ui/packages/docs/docs/reference/weapons/calamityofeshu.md
  ui/packages/docs/src/components/Names/weapon_data.json
  ui/packages/ui/src/Data/weapon_data.generated.json
Labels: area: internal, kind: game alignment

#2267 add astral vulture's crimson plumage
  internal/services/assets/weapons_gen.go
  internal/weapons/bow/astralvulturescrimsonplumage/astralvulturescrimsonplumage.go
  internal/weapons/bow/astralvulturescrimsonplumage/astralvulturescrimsonplumage_gen.go
  internal/weapons/bow/astralvulturescrimsonplumage/config.yml
  internal/weapons/bow/astralvulturescrimsonplumage/data_gen.textproto
  pkg/core/keys/weapon.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
  ui/packages/docs/docs/reference/weapons/astralvulturescrimsonplumage.md
  ui/packages/docs/src/components/Names/weapon_data.json
  ui/packages/ui/src/Data/weapon_data.generated.json
Labels: area: internal, kind: game alignment

#2266 move MultipleRefreshNoRemove stacks to a separate package
  internal/characters/clorinde/asc.go
  internal/characters/clorinde/clorinde.go
  internal/characters/clorinde/stacks.go
  internal/weapons/claymore/fangofthemountainking/fangofthemountainking.go
  pkg/core/stacks/refresh.go
  pkg/core/stacks/refresh_test.go
Labels: area: pkg, kind: design limitation
