Repository genshinsim/gcsim, pull requests merged in 2024-03, with the labels that each got.

#2023 fix wriothesley e buff and aoe increase applying at < 50% hp
  internal/characters/wriothesley/attack.go
  internal/characters/wriothesley/skill.go
  internal/characters/wriothesley/wriothesley.go
Labels: kind: bug, area: internal

#2020 add wasm build to Taskfile to be windows-compatible
  Taskfile.yml
  ui/packages/executors/package.json
Labels: kind: enhancement, area: devops

#2029 add self update for gcsim binary
  .github/workflows/deploy.yml
  cmd/gcsim/main.go
  cmd/server/main.go
  scripts/build.sh
  ui/packages/docs/docs/reference/cli.md
Labels: kind: enhancement

#2033 add .task directory to gitignore
  .gitignore
Labels: kind: enhancement, area: devops

#2034 adjust echoes 4pc logging
  internal/artifacts/echoes/echoes.go
Labels: kind: enhancement, area: internal

#2035 fix barbara ca skipping windup if prior action was ca
  internal/characters/barbara/charge.go
Labels: kind: bug, area: internal

#2037 update syntax highlighting for xianyun
  ui/yarn.lock
Labels: kind: enhancement, area: web

#2036 add cranesechoingcall weapon
  internal/weapons/catalyst/cranesechoingcall/config.yml
  internal/weapons/catalyst/cranesechoingcall/cranesechoingcall.go
  internal/weapons/catalyst/cranesechoingcall/cranesechoingcall_gen.go
  internal/weapons/catalyst/cranesechoingcall/data_gen.textproto
  pkg/core/keys/weapon.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
  ui/packages/docs/docs/reference/weapons/cranesechoingcall.md
  ui/packages/docs/src/components/Names/weapon_data.json
  ui/packages/ui/src/Data/weapon_data.generated.json
  ui/packages/ui/src/Translation/locales/IngameNames.json
Labels: area: internal, kind: game alignment

#2040 fix xianyun e ready check
  internal/characters/xianyun/xianyun.go
Labels: kind: bug, area: internal

#2043 fix xianyun q stack reduction timing
  internal/characters/xianyun/asc.go
  internal/characters/xianyun/burst.go
Labels: kind: bug, area: internal

#2046 fix kazuha consuming 2 xianyun q stacks in 1 plunge from skill
  internal/characters/xianyun/burst.go
Labels: kind: bug, area: internal

#2049 fix xianyun q stacks not decreasing for raiden q plunge
  internal/characters/xianyun/burst.go
Labels: kind: bug, area: internal

#2050 fix some xianyun plunge frames to avoid CanQueueAfter issues
  internal/characters/barbara/plunge.go
  internal/characters/klee/plunge.go
  internal/characters/sucrose/plunge.go
  internal/characters/xianyun/plunge.go
Labels: kind: bug, area: internal

#2051 add more shortcuts
  pkg/shortcut/weapons.go
  ui/packages/docs/src/components/Names/artifact_data.json
  ui/packages/docs/src/components/Names/weapon_data.json
Labels: kind: enhancement, area: internal

#2052 expose .airborne conditional
  pkg/conditional/conditional.go
  ui/packages/docs/docs/reference/fields.md
Labels: kind: enhancement, area: pkg

#2053 fix cyno q plunge scalings
  internal/characters/cyno/config.yml
  internal/characters/cyno/cyno_gen.go
Labels: kind: bug, area: internal

#2055 fix xianyun plunges missing aoe docs and adjust CLI docs
  ui/packages/docs/docs/reference/cli.md
  ui/packages/docs/src/components/AoE/character_data.json
Labels: area: documentation, kind: enhancement

#2057 add dialoguesofthedesertsages weapon
  internal/weapons/spear/dialoguesofthedesertsages/config.yml
  internal/weapons/spear/dialoguesofthedesertsages/data_gen.textproto
  internal/weapons/spear/dialoguesofthedesertsages/dialoguesofthedesertsages.go
  internal/weapons/spear/dialoguesofthedesertsages/dialoguesofthedesertsages_gen.go
  pkg/core/keys/weapon.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
  ui/packages/docs/docs/reference/weapons/dialoguesofthedesertsages.md
  ui/packages/docs/src/components/Names/weapon_data.json
  ui/packages/ui/src/Data/weapon_data.generated.json
  ui/packages/ui/src/Translation/locales/IngameNames.json
Labels: area: internal, kind: game alignment

#2056 add gaming
  internal/characters/gaming/asc.go
  internal/characters/gaming/attack.go
  internal/characters/gaming/burst.go
  internal/characters/gaming/config.yml
  internal/characters/gaming/cons.go
  internal/characters/gaming/data_gen.textproto
  internal/characters/gaming/gaming.go
  internal/characters/gaming/gaming_gen.go
  internal/characters/gaming/plunge.go
  internal/characters/gaming/skill.go
  pkg/core/keys/char.go
  pkg/shortcut/characters.go
  pkg/simulation/imports.go
  ui/packages/db/src/Data/char_data.generated.json
  ui/packages/docs/docs/reference/characters/gaming.md
  ui/packages/docs/src/components/Actions/character_data.json
  ui/packages/docs/src/components/AoE/character_data.json
  ui/packages/docs/src/components/Frames/character_data.json
  ui/packages/docs/src/components/Hitlag/character_data.json
  ui/packages/docs/src/components/Names/character_data.json
  ui/packages/docs/src/components/Params/character_data.json
  ui/packages/ui/src/Data/char_data.generated.json
  ui/packages/ui/src/Translation/locales/names.generated.json
Labels: area: internal, kind: game alignment

#2065 update syntax highlighting for gaming
  ui/packages/ui/src/util/mode-gcsim.js
Labels: kind: enhancement, area: web

#2066 update pull request checklists
  CONTRIBUTING.md
Labels: kind: enhancement, area: devops

#2067 fix gaming plunge spawning man chai when one already exists
  internal/characters/gaming/burst.go
Labels: kind: bug, area: internal

#2070 gaming man chai bugfixes
  internal/characters/gaming/burst.go
  internal/characters/gaming/gaming.go
  internal/characters/gaming/plunge.go
  ui/packages/docs/src/components/Params/character_data.json
Labels: kind: bug, area: internal

#2071 fix alley hunter stopping stacking if swapping between two non-holder characters
  internal/weapons/bow/alley/alley.go
Labels: kind: bug, area: internal

#2072 add localization for server mode
  ui/packages/ui/src/Translation/locales/Chinese.json
  ui/packages/ui/src/Translation/locales/English.json
  ui/packages/ui/src/Translation/locales/German.json
  ui/packages/ui/src/Translation/locales/Japanese.json
  ui/packages/ui/src/Translation/locales/Korean.json
  ui/packages/ui/src/Translation/locales/Russian.json
  ui/packages/ui/src/Translation/locales/Spanish.json
  ui/packages/web/src/App.tsx
  ui/packages/web/src/ServerMode.tsx
Labels: kind: enhancement, area: web

#2073 update char pr checklist for syntax highlighting
  CONTRIBUTING.md
Labels: kind: enhancement, area: devops

#2076 add option to customize web's code editor font size
  ui/packages/ui/src/Components/ConfigEditor/ConfigEditor.tsx
  ui/packages/ui/src/Translation/locales/Chinese.json
  ui/packages/ui/src/Translation/locales/English.json
  ui/packages/ui/src/Translation/locales/German.json
  ui/packages/ui/src/Translation/locales/Japanese.json
  ui/packages/ui/src/Translation/locales/Korean.json
  ui/packages/ui/src/Translation/locales/Russian.json
  ui/packages/ui/src/Translation/locales/Spanish.json
Labels: kind: enhancement, area: web

#2077 fix code editor font size being 0 on first page load
  ui/packages/ui/src/Components/ConfigEditor/ConfigEditor.tsx
Labels: kind: bug, area: web

#2078 fix code editor font size change not applying to config tab in viewer
  ui/packages/ui/src/Components/ConfigEditor/ConfigEditor.tsx
Labels: kind: bug, area: web

#2081 fix gaming missing xingqiu/yelan n0 timings
  internal/characters/gaming/gaming.go
Labels: kind: bug, area: internal

#2082 add enemy name search to simulator page
  ui/packages/types/src/index.ts
  ui/packages/ui/src/Components/Select/EnemySelect.tsx
  ui/packages/ui/src/Components/Select/enemies.tsx
  ui/packages/ui/src/Data/index.ts
  ui/packages/ui/src/Pages/Simulator/Components/OmnibarBlock.tsx
  ui/packages/ui/src/Translation/locales/Chinese.json
  ui/packages/ui/src/Translation/locales/English.json
  ui/packages/ui/src/Translation/locales/German.json
  ui/packages/ui/src/Translation/locales/Japanese.json
  ui/packages/ui/src/Translation/locales/Korean.json
  ui/packages/ui/src/Translation/locales/Russian.json
  ui/packages/ui/src/Translation/locales/Spanish.json
Labels: kind: enhancement, area: web

#2086 fix substat optimizer not considering def% for chiori
  pkg/optimization/substats.go
Labels: area: pkg, area: internal

#2088 update char pr list for more forgotten things
  CONTRIBUTING.md
Labels: kind: enhancement, area: devops

#2097 fix the enemies category name
  ui/packages/docs/docs/reference/enemies/_category_.json
Labels: kind: bug, area: web

#2122 add ru localization for simpact home page
  ui/packages/localization/src/locales/Russian.json
Labels: area: web
