Repository genshinsim/gcsim, pull requests merged in 2024-10, with the labels that each got.

#2235 Mualani
  internal/characters/mualani/asc.go
  internal/characters/mualani/attack.go
  internal/characters/mualani/burst.go
  internal/characters/mualani/charge.go
  internal/characters/mualani/config.yml
  internal/characters/mualani/cons.go
  internal/characters/mualani/dash.go
  internal/characters/mualani/data_gen.textproto
  internal/characters/mualani/jump.go
  internal/characters/mualani/mualani.go
  internal/characters/mualani/mualani_gen.go
  internal/characters/mualani/skill.go
  pkg/core/keys/keys_char_gen.go
  pkg/model/enemy_gen.go
  pkg/shortcut/characters.go
  pkg/shortcut/enemies_gen.go
  pkg/simulation/imports_char_gen.go
  ui/packages/components/src/Editor/mode-gcsim.js
  ui/packages/db/src/Data/char_data.generated.json
  ui/packages/docs/docs/reference/characters/mualani.md
  ui/packages/docs/src/components/Actions/character_data.json
  ui/packages/docs/src/components/AoE/character_data.json
  ui/packages/docs/src/components/Fields/character_data.json
  ui/packages/docs/src/components/Frames/character_data.json
  ui/packages/docs/src/components/Names/character_data.json
  ui/packages/docs/src/components/Params/character_data.json
  ui/packages/localization/src/locales/names.generated.json
  ui/packages/ui/src/Data/char_data.generated.json
  ui/packages/ui/src/util/mode-gcsim.js
Labels: area: internal, kind: game alignment

#2236 add max points for nightsoul
  internal/characters/mualani/asc.go
  internal/characters/mualani/mualani.go
  internal/template/nightsoul/nightsoul.go
Labels: area: internal, kind: design limitation

#2238 add nightsoul to gcsl
  internal/characters/mualani/mualani.go
  internal/template/nightsoul/nightsoul.go
  ui/packages/docs/docs/reference/fields.md
Labels: kind: enhancement, area: internal

#2237 Mualani bugfixes
  internal/characters/mualani/attack.go
  internal/characters/mualani/burst.go
  internal/characters/mualani/dash.go
  internal/characters/mualani/jump.go
  internal/characters/mualani/skill.go
  internal/characters/mualani/walk.go
Labels: kind: bug, area: internal

#2242 Fixed mualani config.yml missing fields
  internal/characters/mualani/config.yml
  internal/characters/mualani/mualani_gen.go
  ui/packages/docs/src/components/Fields/character_data.json
Labels: kind: bug, area: internal

#2240 allow use mualani skill while walking
  internal/characters/mualani/skill.go
Labels: area: internal, kind: game alignment

#2241 Sethos dev
  internal/characters/sethos/aimed.go
  internal/characters/sethos/asc.go
  internal/characters/sethos/attack.go
  internal/characters/sethos/burst.go
  internal/characters/sethos/config.yml
  internal/characters/sethos/cons.go
  internal/characters/sethos/data_gen.textproto
  internal/characters/sethos/sethos.go
  internal/characters/sethos/sethos_gen.go
  internal/characters/sethos/skill.go
  pkg/core/keys/keys_char_gen.go
  pkg/model/enemy_gen.go
  pkg/shortcut/characters.go
  pkg/shortcut/enemies_gen.go
  pkg/simulation/imports_char_gen.go
  ui/packages/components/src/Editor/mode-gcsim.js
  ui/packages/db/src/Data/char_data.generated.json
  ui/packages/docs/docs/reference/characters/sethos.md
  ui/packages/docs/src/components/Actions/character_data.json
  ui/packages/docs/src/components/AoE/character_data.json
  ui/packages/docs/src/components/Fields/character_data.json
  ui/packages/docs/src/components/Frames/character_data.json
  ui/packages/docs/src/components/Hitlag/character_data.json
  ui/packages/docs/src/components/Names/character_data.json
  ui/packages/docs/src/components/Params/character_data.json
  ui/packages/localization/src/locales/names.generated.json
  ui/packages/ui/src/Data/char_data.generated.json
  ui/packages/ui/src/Data/weapon_data.generated.json
  ui/packages/ui/src/util/mode-gcsim.js
Labels: area: internal, kind: game alignment

#2243 Cancel sethos burst on swap
  internal/characters/sethos/sethos.go
Labels: kind: bug, area: internal

#2248 rework getting mualani stacks
  internal/characters/mualani/dash.go
  internal/characters/mualani/jump.go
  internal/characters/mualani/mualani.go
  internal/characters/mualani/skill.go
  internal/characters/mualani/walk.go
  ui/packages/docs/src/components/AoE/character_data.json
  ui/packages/docs/src/components/Hitlag/character_data.json
Labels: kind: bug, area: internal

#2249 Mountain-Bracing Bolt
  internal/weapons/spear/mountainbracingbolt/config.yml
  internal/weapons/spear/mountainbracingbolt/data_gen.textproto
  internal/weapons/spear/mountainbracingbolt/mountainbracingbolt.go
  internal/weapons/spear/mountainbracingbolt/mountainbracingbolt_gen.go
  pkg/core/keys/weapon.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
  ui/packages/docs/docs/reference/weapons/mountainbracingbolt.md
  ui/packages/docs/src/components/Names/weapon_data.json
  ui/packages/localization/src/locales/names.generated.json
  ui/packages/ui/src/Data/weapon_data.generated.json
Labels: area: internal, kind: game alignment

#2247 Add xilonen
  internal/characters/xilonen/asc.go
  internal/characters/xilonen/attack.go
  internal/characters/xilonen/burst.go
  internal/characters/xilonen/charge.go
  internal/characters/xilonen/config.yml
  internal/characters/xilonen/cons.go
  internal/characters/xilonen/dash.go
  internal/characters/xilonen/data_gen.textproto
  internal/characters/xilonen/jump.go
  internal/characters/xilonen/plunge.go
  internal/characters/xilonen/skill.go
  internal/characters/xilonen/xilonen.go
  internal/characters/xilonen/xilonen_gen.go
  internal/template/nightsoul/nightsoul.go
  pkg/core/attacks/icd_tags_gen.go
  pkg/core/keys/keys_char_gen.go
  pkg/shortcut/characters.go
  pkg/simulation/imports_char_gen.go
  ui/packages/components/src/Editor/mode-gcsim.js
  ui/packages/db/src/Data/char_data.generated.json
  ui/packages/docs/docs/reference/characters/xilonen.md
  ui/packages/docs/src/components/Actions/character_data.json
  ui/packages/docs/src/components/AoE/character_data.json
  ui/packages/docs/src/components/Frames/character_data.json
  ui/packages/docs/src/components/Hitlag/character_data.json
  ui/packages/docs/src/components/Names/character_data.json
  ui/packages/localization/src/locales/names.generated.json
  ui/packages/ui/src/Data/char_data.generated.json
  ui/packages/ui/src/util/mode-gcsim.js
Labels: area: internal, kind: game alignment

#2251 fix no normal attack check on surf's up stack loss
  internal/weapons/catalyst/surfsup/surfsup.go
Labels: kind: bug, area: internal

#2252 Sturdy bone
  internal/weapons/sword/sturdybone/config.yml
  internal/weapons/sword/sturdybone/data_gen.textproto
  internal/weapons/sword/sturdybone/sturdybone.go
  internal/weapons/sword/sturdybone/sturdybone_gen.go
  pkg/core/keys/weapon.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
  ui/packages/docs/docs/reference/weapons/sturdybone.md
  ui/packages/docs/src/components/Names/weapon_data.json
  ui/packages/localization/src/locales/names.generated.json
  ui/packages/ui/src/Data/weapon_data.generated.json
Labels: area: internal, kind: game alignment

#2254 Fix gadget checks
  internal/artifacts/flowerofparadiselost/flowerofparadiselost.go
  internal/artifacts/thunderingfury/thunderingfury.go
  internal/characters/chevreuse/skill.go
  internal/characters/collei/asc.go
  internal/characters/collei/collei.go
  internal/characters/collei/cons.go
  internal/characters/cyno/cons.go
  internal/characters/dori/asc.go
  internal/characters/fischl/asc.go
  internal/characters/freminet/asc.go
  internal/characters/freminet/cons.go
  internal/characters/kazuha/asc.go
  internal/characters/keqing/cons.go
  internal/characters/neuvillette/asc.go
  internal/characters/sayu/asc.go
  internal/characters/sucrose/asc.go
  internal/characters/tighnari/cons.go
  internal/characters/yunjin/cons.go
  internal/weapons/catalyst/emeraldorb/emeraldorb.go
  internal/weapons/catalyst/hakushin/hakushin.go
  internal/weapons/claymore/earthshaker/earthshaker.go
  internal/weapons/claymore/forestregalia/forestregalia.go
  internal/weapons/spear/moonpiercer/moonpiercer.go
  internal/weapons/sword/darkironsword/darkironsword.go
  internal/weapons/sword/sapwoodblade/sapwoodblade.go
  pkg/simulation/setup.go
Labels: kind: bug, area: internal

#2255 Fix xilonen nightsoul not ending properly
  internal/characters/xilonen/attack.go
Labels: kind: bug, area: internal

#2258 Fix surfsup losing stacks when at max
  internal/weapons/catalyst/surfsup/surfsup.go
Labels: kind: bug, area: internal

#2259 Adjust stats highlight regex to be more strict
  ui/packages/components/src/Editor/mode-gcsim.js
  ui/packages/ui/src/util/mode-gcsim.js
Labels: kind: bug, area: web

#2260 Add support for importing enka builds
  ui/packages/ui/src/Pages/Simulator/Components/Enka/EnkaToGOOD.ts
  ui/packages/ui/src/Pages/Simulator/Components/Enka/ImportFromEnkaDialog.tsx
  ui/packages/ui/src/Pages/Simulator/Team.tsx
  ui/packages/ui/src/Stores/userDataSlice.ts
  ui/packages/workers/src/enka/index.ts
Labels: kind: enhancement, area: web

#2257 Fixed finale of the deep flat atk passive to work with Clorinde's BoL.
  internal/characters/clorinde/heal.go
  internal/weapons/bow/heartstrings/heartstrings.go
  internal/weapons/sword/absolution/absolution.go
  internal/weapons/sword/finaleofthedeep/finaleofthedeep.go
Labels: kind: bug, area: internal

#2261 fix enka import re builds
  ui/packages/types/src/sim.ts
  ui/packages/ui/src/Components/Select/OmniSelect.tsx
  ui/packages/ui/src/Pages/Simulator/Components/Enka/EnkaToGOOD.ts
  ui/packages/ui/src/Pages/Simulator/Components/Enka/EnkaTypes.ts
  ui/packages/ui/src/Pages/Simulator/Components/Enka/ImportFromEnkaDialog.tsx
  ui/packages/ui/src/Pages/Simulator/Components/GOOD/ImportFromGOODDialog.tsx
  ui/packages/ui/src/Pages/Simulator/Team.tsx
  ui/packages/ui/src/Stores/userDataSlice.ts
Labels: kind: bug, area: web
