Repository genshinsim/gcsim, pull requests merged in 2024-09, with the labels that each got.

#2216 Scroll of the Hero of Cinder City
  internal/artifacts/scrolloftheheroofcindercity/config.yml
  internal/artifacts/scrolloftheheroofcindercity/scrolloftheheroofcindercity.go
  pkg/core/keys/sets.go
  pkg/shortcut/artifacts.go
  pkg/simulation/imports.go
  ui/packages/docs/docs/reference/artifacts/scrolloftheheroofcindercity.md
  ui/packages/docs/src/components/Names/artifact_data.json
  ui/packages/localization/src/locales/names.generated.json
  ui/packages/ui/src/Data/artifact_data.generated.json
Labels: area: internal, kind: game alignment

#2218 add chainbreaker
  internal/weapons/bow/chainbreaker/chainbreaker.go
  internal/weapons/bow/chainbreaker/chainbreaker_gen.go
  internal/weapons/bow/chainbreaker/config.yml
  internal/weapons/bow/chainbreaker/data_gen.textproto
  pkg/core/keys/weapon.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
  ui/packages/docs/docs/reference/weapons/chainbreaker.md
  ui/packages/docs/src/components/Names/weapon_data.json
  ui/packages/localization/src/locales/names.generated.json
  ui/packages/ui/src/Data/weapon_data.generated.json
Labels: area: internal, kind: game alignment

#2219 Add flute of ezpitzal
  internal/weapons/sword/fluteofezpitzal/config.yml
  internal/weapons/sword/fluteofezpitzal/data_gen.textproto
  internal/weapons/sword/fluteofezpitzal/fluteofezpitzal.go
  internal/weapons/sword/fluteofezpitzal/fluteofezpitzal_gen.go
  pkg/core/keys/weapon.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
  ui/packages/docs/docs/reference/weapons/fluteofezpitzal.md
  ui/packages/docs/src/components/Names/weapon_data.json
  ui/packages/localization/src/locales/names.generated.json
  ui/packages/ui/src/Data/weapon_data.generated.json
Labels: area: internal, kind: game alignment

#2220 fix ashgraven damage
  internal/weapons/catalyst/ashgraven/ashgraven.go
Labels: kind: bug, area: internal

#2221 Add per element icd to hakushin
  internal/weapons/catalyst/hakushin/hakushin.go
Labels: kind: bug, area: internal

#2226 Fix Staff of the Scarlet Sands ICD
  internal/weapons/spear/scarletsands/scarletsands.go
Labels: kind: bug, area: internal

#2089 Substatopt 4 star
  pkg/optimization/details.go
  pkg/optimization/opt_allstats.go
  pkg/optimization/opt_damage.go
  pkg/optimization/opt_energy.go
  pkg/optimization/substats.go
Labels: kind: enhancement, area: pkg

#2228 Fixed furina a1 being able to be double queued
  internal/characters/furina/asc.go
  internal/characters/furina/furina.go
Labels: kind: bug, area: internal

#2222 add surf's up
  internal/weapons/catalyst/surfsup/config.yml
  internal/weapons/catalyst/surfsup/data_gen.textproto
  internal/weapons/catalyst/surfsup/surfsup.go
  internal/weapons/catalyst/surfsup/surfsup_gen.go
  pkg/core/keys/weapon.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
  ui/packages/docs/docs/reference/weapons/surfsup.md
  ui/packages/docs/src/components/Names/weapon_data.json
  ui/packages/localization/src/locales/names.generated.json
  ui/packages/ui/src/Data/weapon_data.generated.json
Labels: area: internal, kind: game alignment
