Repository genshinsim/gcsim, pull requests merged in 2024-08, with the labels that each got.

#2186 Silvershower Heartstrings
  internal/weapons/bow/heartstrings/config.yml
  internal/weapons/bow/heartstrings/data_gen.textproto
  internal/weapons/bow/heartstrings/heartstrings.go
  internal/weapons/bow/heartstrings/heartstrings_gen.go
  pkg/core/keys/weapon.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
  ui/packages/docs/docs/reference/weapons/heartstrings.md
  ui/packages/docs/src/components/Names/weapon_data.json
  ui/packages/localization/src/locales/names.generated.json
  ui/packages/ui/src/Data/weapon_data.generated.json
Labels: area: internal, kind: game alignment

#2179 add clorinde
  internal/characters/clorinde/asc.go
  internal/characters/clorinde/attack.go
  internal/characters/clorinde/burst.go
  internal/characters/clorinde/charge.go
  internal/characters/clorinde/clorinde.go
  internal/characters/clorinde/clorinde_gen.go
  internal/characters/clorinde/config.yml
  internal/characters/clorinde/cons.go
  internal/characters/clorinde/data_gen.textproto
  internal/characters/clorinde/heal.go
  internal/characters/clorinde/skill.go
  internal/characters/clorinde/stacks.go
  internal/characters/clorinde/stacks_test.go
  pipeline/pkg/character/template_imports.go
  pipeline/pkg/translation/translation.go
  pkg/core/attacks/icd_groups_gen.go
  pkg/core/attacks/icd_tags_gen.go
  pkg/core/keys/keys_char_gen.go
  pkg/shortcut/characters.go
  pkg/simulation/imports_char_gen.go
  ui/packages/db/src/Data/char_data.generated.json
  ui/packages/docs/docs/reference/characters/clorinde.md
  ui/packages/docs/src/components/Actions/character_data.json
  ui/packages/docs/src/components/AoE/character_data.json
  ui/packages/docs/src/components/Frames/character_data.json
  ui/packages/docs/src/components/Hitlag/character_data.json
  ui/packages/docs/src/components/Names/character_data.json
  ui/packages/localization/src/locales/names.generated.json
  ui/packages/ui/src/Data/char_data.generated.json
  ui/packages/ui/src/util/mode-gcsim.js
Labels: area: internal, kind: game alignment

#2188 add an error for invalid prefix parse function
  pkg/gcs/ast/parse.go
Labels: kind: bug, area: pkg

#2191 Allow the sorting configurations still apply to the custom filter
  ui/packages/db/src/SharedHooks/databaseQuery.ts
Labels: kind: enhancement, area: web

#2196 add emilie
  backend/pkg/services/share/mock.go
  cmd/gcsim/main.go
  internal/characters/clorinde/stacks.go
  internal/characters/emilie/asc.go
  internal/characters/emilie/attack.go
  internal/characters/emilie/burst.go
  internal/characters/emilie/charge.go
  internal/characters/emilie/config.yml
  internal/characters/emilie/cons.go
  internal/characters/emilie/data_gen.textproto
  internal/characters/emilie/emilie.go
  internal/characters/emilie/emilie_gen.go
  internal/characters/emilie/lumidouce.go
  internal/characters/emilie/plunge.go
  internal/characters/emilie/skill.go
  internal/characters/hutao/skill.go
  internal/characters/kazuha/asc.go
  internal/characters/kazuha/burst.go
  internal/characters/nahida/asc.go
  internal/characters/sayu/skill.go
  internal/characters/sucrose/burst.go
  internal/characters/traveler/common/anemo/burst.go
  internal/characters/traveler/common/anemo/skill.go
  internal/characters/venti/burst.go
  internal/characters/xiangling/burst.go
  internal/weapons/bow/polarstar/polarstar.go
  internal/weapons/bow/thundering/thundering.go
  internal/weapons/common/wavebreaker.go
  internal/weapons/sword/mistsplitter/mistsplitter.go
  pipeline/pkg/data/avatar/avatar.go
  pkg/agg/damage/damage.go
  pkg/agg/shield/shield.go
  pkg/agg/util.go
  pkg/core/attacks/icd_groups_gen.go
  pkg/core/attacks/icd_tags_gen.go
  pkg/core/geometry/rectangle.go
  pkg/core/info/actionlist.go
  pkg/core/keys/keys_char_gen.go
  pkg/core/player/shield/handler.go
  pkg/gcs/ast/parseCharacter.go
  pkg/gcs/ast/parseHurt.go
  pkg/reactable/freeze.go
  pkg/shortcut/characters.go
  pkg/simulation/imports_char_gen.go
  pkg/stats/shield/shield.go
  ui/packages/db/src/Data/char_data.generated.json
  ui/packages/docs/src/components/Actions/character_data.json
  ui/packages/docs/src/components/AoE/character_data.json
  ui/packages/docs/src/components/Frames/character_data.json
  ui/packages/docs/src/components/Hitlag/character_data.json
  ui/packages/docs/src/components/Names/character_data.json
  ui/packages/docs/src/components/Params/character_data.json
  ui/packages/localization/src/locales/names.generated.json
  ui/packages/ui/src/Data/char_data.generated.json
  ui/packages/ui/src/util/mode-gcsim.js
Labels: area: internal, kind: game alignment

#2190 Yaoyao a4
  internal/characters/yaoyao/asc.go
Labels: kind: bug, area: internal

#2197 add the field `.char.sets.setname`
  internal/artifacts/archaic/archaic.go
  internal/artifacts/berserker/berserker.go
  internal/artifacts/blizzard/blizzard.go
  internal/artifacts/bloodstained/bloodstained.go
  internal/artifacts/bolide/bolide.go
  internal/artifacts/braveheart/braveheart.go
  internal/artifacts/crimson/crimson.go
  internal/artifacts/deepwood/deepwood.go
  internal/artifacts/defenderswill/defenderswill.go
  internal/artifacts/desertpavilionchronicle/desertpavilionchronicle.go
  internal/artifacts/echoes/echoes.go
  internal/artifacts/emblem/emblem.go
  internal/artifacts/exile/exile.go
  internal/artifacts/flowerofparadiselost/flowerofparadiselost.go
  internal/artifacts/fragmentofharmonicwhimsy/fragmentofharmonicwhimsy.go
  internal/artifacts/gambler/gambler.go
  internal/artifacts/gildeddreams/gildeddreams.go
  internal/artifacts/gladiator/gladiator.go
  internal/artifacts/goldentroupe/goldentroupe.go
  internal/artifacts/heartofdepth/heartofdepth.go
  internal/artifacts/huskofopulentdreams/huskofopulentdreams.go
  internal/artifacts/instructor/instructor.go
  internal/artifacts/lavawalker/lavawalker.go
  internal/artifacts/maiden/maiden.go
  internal/artifacts/marechausseehunter/marechausseehunter.go
  internal/artifacts/martialartist/martialartist.go
  internal/artifacts/nighttimewhispersintheechoingwoods/nighttimewhispersintheechoingwoods.go
  internal/artifacts/noblesse/noblesse.go
  internal/artifacts/nymphsdream/nymphsdream.go
  internal/artifacts/oceanhuedclam/oceanhuedclam.go
  internal/artifacts/paleflame/paleflame.go
  internal/artifacts/reminiscence/reminiscence.go
  internal/artifacts/scholar/scholar.go
  internal/artifacts/sojourner/sojourner.go
  internal/artifacts/songofdayspast/songofdayspast.go
  internal/artifacts/tenacity/tenacity.go
  internal/artifacts/thunderingfury/thunderingfury.go
  internal/artifacts/thundersoother/thundersoother.go
  internal/artifacts/unfinishedreverie/unfinishedreverie.go
  internal/artifacts/vermillion/vermillion.go
  internal/artifacts/viridescent/viridescent.go
  internal/artifacts/vourukashasglow/vourukashasglow.go
  internal/artifacts/wanderer/wanderer.go
  pkg/conditional/character.go
  pkg/core/info/sets.go
  ui/packages/docs/docs/reference/fields.md
Labels: kind: enhancement, area: pkg, area: internal

#2198 restore lumidouce case lvl after burst
  internal/characters/emilie/burst.go
  internal/characters/emilie/emilie.go
Labels: kind: bug, area: internal

#2199 Fix Arkhe using CD instead of the scaling
  internal/characters/emilie/skill.go
Labels: kind: bug, area: internal

#2200 Fix Emilie A4 not having a cap
  internal/characters/emilie/asc.go
Labels: kind: bug, area: internal

#2201 emilie bugfixes
  internal/characters/emilie/asc.go
  internal/characters/emilie/attack.go
  internal/characters/emilie/burst.go
  internal/characters/emilie/charge.go
  internal/characters/emilie/cons.go
  internal/characters/emilie/emilie.go
  internal/characters/emilie/lumidouce.go
  internal/characters/emilie/skill.go
Labels: kind: bug, area: internal

#2203 emile/particle bugfixes
  internal/characters/albedo/burst.go
  internal/characters/charlotte/cons.go
  internal/characters/emilie/burst.go
  internal/characters/gorou/asc.go
  internal/characters/itto/asc.go
  internal/characters/xianyun/asc.go
  internal/characters/xianyun/burst.go
  internal/characters/xianyun/cons.go
  internal/characters/xianyun/xianyun.go
  internal/characters/xinyan/burst.go
  internal/characters/yunjin/burst.go
  internal/weapons/claymore/redhorn/redhorn.go
  internal/weapons/sword/cinnabar/cinnnabar.go
  pkg/gcs/ast/parseTarget.go
  pkg/stats/status/status.go
Labels: kind: bug, area: pkg, area: internal

#2204 Emilie arkhe
  internal/characters/emilie/skill.go
Labels: kind: bug, area: internal

#2211 Fix Wrio C6 applying at C1
  internal/characters/wriothesley/cons.go
Labels: kind: bug, area: internal

#2207 Add Earth Shaker
  internal/weapons/claymore/earthshaker/config.yml
  internal/weapons/claymore/earthshaker/data_gen.textproto
  internal/weapons/claymore/earthshaker/earthshaker.go
  internal/weapons/claymore/earthshaker/earthshaker_gen.go
  pkg/core/keys/weapon.go
  pkg/model/enemy_gen.go
  pkg/shortcut/enemies_gen.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
  ui/packages/docs/docs/reference/weapons/earthshaker.md
  ui/packages/docs/src/components/Names/weapon_data.json
  ui/packages/localization/src/locales/names.generated.json
  ui/packages/ui/src/Data/weapon_data.generated.json
Labels: area: internal, kind: game alignment

#2208 add footprint of the rainbow
  internal/weapons/spear/footprint/config.yml
  internal/weapons/spear/footprint/data_gen.textproto
  internal/weapons/spear/footprint/footprint.go
  internal/weapons/spear/footprint/footprint_gen.go
  pkg/core/keys/weapon.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
  ui/packages/docs/docs/reference/weapons/footprintoftherainbow.md
  ui/packages/docs/src/components/Names/weapon_data.json
  ui/packages/localization/src/locales/names.generated.json
  ui/packages/ui/src/Data/weapon_data.generated.json
Labels: area: internal, kind: game alignment

#2213 fix event names for earthshaker
  internal/weapons/claymore/earthshaker/earthshaker.go
Labels: kind: bug, area: internal

#2209 add ring of yaxche
  cmd/gcsim/.gitignore
  internal/weapons/catalyst/ringofyaxche/config.yml
  internal/weapons/catalyst/ringofyaxche/data_gen.textproto
  internal/weapons/catalyst/ringofyaxche/ringofyaxche.go
  internal/weapons/catalyst/ringofyaxche/ringofyaxche_gen.go
  pkg/core/keys/weapon.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
  ui/packages/docs/docs/reference/weapons/ringofyaxche.md
  ui/packages/docs/src/components/Names/weapon_data.json
  ui/packages/localization/src/locales/names.generated.json
  ui/packages/ui/src/Data/weapon_data.generated.json
Labels: area: internal, kind: game alignment

#2215 fix couple typos
  internal/weapons/catalyst/frostbearer/frostbearer.go
  internal/weapons/claymore/prototype/prototype.go
Labels: kind: bug, area: internal

#2217 add HasArkhe for some fontaine chars
  internal/characters/charlotte/charlotte.go
  internal/characters/chevreuse/chevreuse.go
  internal/characters/clorinde/clorinde.go
  internal/characters/emilie/emilie.go
  internal/characters/navia/navia.go
  internal/characters/wriothesley/wriothesley.go
Labels: kind: bug, area: internal

#2214 add ash-graven drinking horn
  internal/weapons/catalyst/ashgraven/ashgraven.go
  internal/weapons/catalyst/ashgraven/ashgraven_gen.go
  internal/weapons/catalyst/ashgraven/config.yml
  internal/weapons/catalyst/ashgraven/data_gen.textproto
  pkg/core/keys/weapon.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
  ui/packages/docs/docs/reference/weapons/ashgraven.md
  ui/packages/docs/src/components/AoE/weapon_data.json
  ui/packages/docs/src/components/Names/weapon_data.json
  ui/packages/localization/src/locales/names.generated.json
  ui/packages/ui/src/Data/weapon_data.generated.json
Labels: area: internal, kind: game alignment
