Repository genshinsim/gcsim, pull requests merged in 2024-02, with the labels that each got.

#1959 add AimParam type and tartaglia aim hold param
  internal/characters/tartaglia/aimed.go
  internal/characters/tartaglia/riptide.go
  internal/characters/tartaglia/stats.go
  pkg/core/attacks/aim.go
  ui/packages/docs/src/components/Actions/character_data.json
  ui/packages/docs/src/components/Frames/character_data.json
  ui/packages/docs/src/components/Params/character_data.json
Labels: kind: enhancement, area: pkg, area: internal

#1960 fix tartaglia phys aimed shot applying riptide if stance is disabled before hit
  internal/characters/tartaglia/riptide.go
Labels: kind: bug, area: internal

#1965 add OnPlayerPreHPDrain event
  pkg/core/event/event.go
  pkg/core/player/heal.go
Labels: area: pkg, kind: game alignment

#1967 add ShieldTarget to shield interface and other shield fixes
  internal/artifacts/bolide/bolide.go
  internal/characters/baizhu/shield.go
  internal/characters/beidou/burst.go
  internal/characters/beidou/skill.go
  internal/characters/candace/skill.go
  internal/characters/diona/skill.go
  internal/characters/kaeya/cons.go
  internal/characters/kirara/shield.go
  internal/characters/layla/shield.go
  internal/characters/noelle/asc.go
  internal/characters/noelle/shield.go
  internal/characters/thoma/shield.go
  internal/characters/traveler/common/hydro/cons.go
  internal/characters/xinyan/asc.go
  internal/characters/xinyan/shield.go
  internal/characters/yanfei/cons.go
  internal/characters/yunjin/skill.go
  internal/characters/zhongli/shield.go
  internal/weapons/claymore/beacon/beacon.go
  internal/weapons/claymore/bell/bell.go
  internal/weapons/common/goldenmajesty.go
  pkg/avatar/avatar.go
  pkg/core/player/shield/handler.go
  pkg/core/player/shield/shield.go
  pkg/core/player/shield/template.go
  pkg/reactable/crystallize.go
  pkg/simulation/setup.go
Labels: kind: bug, kind: enhancement, area: pkg, area: internal

#1970 fix korean swirl pyro/cryo localization
  ui/packages/ui/src/Translation/locales/Korean.json
Labels: kind: bug, area: web

#1971 adjust OnPlayerHit to return char hit instead of player struct
  internal/characters/diluc/cons.go
  internal/characters/kaveh/asc.go
  internal/characters/nilou/asc.go
  pkg/avatar/avatar.go
  pkg/core/event/event.go
Labels: kind: bug, kind: enhancement, area: pkg, area: internal

#1972 adjust drain func to return amount
  pkg/avatar/avatar.go
  pkg/core/player/heal.go
Labels: kind: enhancement, area: pkg

#1973 fix hurt settings having incorrect column for damage log
  pkg/simulation/setup.go
Labels: kind: bug, area: pkg

#1976 add lofi shortcut for lightoffoliarincision
  pkg/shortcut/weapons.go
  ui/packages/docs/src/components/Names/weapon_data.json
Labels: kind: enhancement, area: internal

#1978 fix dehya field pick up timing on off-cooldown skill use when field up
  internal/characters/dehya/skill.go
Labels: kind: bug, area: internal

#1855 Add Dehya's XQ/Yelan N0 Frames
  internal/common/normalattackstate.go
  ui/packages/docs/src/components/Frames/character_data.json
Labels: area: internal, kind: game alignment

#1980 bow ca feature update
  internal/characters/aloy/aimed.go
  internal/characters/aloy/stats.go
  internal/characters/amber/aimed.go
  internal/characters/amber/stats.go
  internal/characters/collei/aimed.go
  internal/characters/collei/stats.go
  internal/characters/diona/aimed.go
  internal/characters/diona/stats.go
  internal/characters/faruzan/aimed.go
  internal/characters/faruzan/stats.go
  internal/characters/fischl/aimed.go
  internal/characters/fischl/stats.go
  internal/characters/ganyu/aimed.go
  internal/characters/ganyu/stats.go
  internal/characters/gorou/aimed.go
  internal/characters/gorou/stats.go
  internal/characters/lyney/aimed.go
  internal/characters/lyney/stats.go
  internal/characters/sara/aimed.go
  internal/characters/sara/stats.go
  internal/characters/tartaglia/aimed.go
  internal/characters/tighnari/aimed.go
  internal/characters/tighnari/stats.go
  internal/characters/venti/aimed.go
  internal/characters/venti/cons.go
  internal/characters/venti/stats.go
  internal/characters/yelan/aimed.go
  internal/characters/yelan/stats.go
  internal/characters/yoimiya/aimed.go
  internal/characters/yoimiya/stats.go
  ui/packages/docs/src/components/Actions/character_data.json
  ui/packages/docs/src/components/AoE/character_data.json
  ui/packages/docs/src/components/Frames/character_data.json
  ui/packages/docs/src/components/Params/character_data.json
Labels: kind: enhancement, area: internal

#1981 add OnApplyAttack event
  pkg/core/combat/attack.go
  pkg/core/event/event.go
Labels: kind: enhancement, area: pkg

#1983 fix enka import uid validation regex for new asia uids
  ui/packages/ui/src/Pages/Simulator/Components/Enka/ImportFromEnkaDialog.tsx
Labels: kind: bug, area: web

#1985 fix dehya burst duration allowing for 11 punches at c0
  internal/characters/dehya/burst.go
Labels: kind: bug, area: internal

#1986 fix chongyun e not working with sac greatsword
  internal/characters/chongyun/asc.go
  internal/characters/chongyun/chongyun.go
  internal/characters/chongyun/skill.go
Labels: kind: bug, area: internal

#1989 fix wanderer c2 applying to non-windfavored burst
  .golangci.yml
  internal/characters/wanderer/burst.go
Labels: kind: bug, area: internal

#1988 add NextQueueItemIsValid to Character Interface
  internal/characters/albedo/charge.go
  internal/characters/alhaitham/charge.go
  internal/characters/ayaka/charge.go
  internal/characters/ayato/charge.go
  internal/characters/bennett/charge.go
  internal/characters/candace/charge.go
  internal/characters/chevreuse/charge.go
  internal/characters/cyno/charge.go
  internal/characters/furina/furina.go
  internal/characters/heizou/charge.go
  internal/characters/heizou/heizou.go
  internal/characters/hutao/charge.go
  internal/characters/jean/charge.go
  internal/characters/kaeya/charge.go
  internal/characters/kazuha/charge.go
  internal/characters/keqing/charge.go
  internal/characters/kirara/charge.go
  internal/characters/kuki/charge.go
  internal/characters/layla/charge.go
  internal/characters/lynette/charge.go
  internal/characters/mika/charge.go
  internal/characters/nilou/charge.go
  internal/characters/qiqi/charge.go
  internal/characters/raiden/charge.go
  internal/characters/rosaria/charge.go
  internal/characters/shenhe/charge.go
  internal/characters/tartaglia/charge.go
  internal/characters/tartaglia/tartaglia.go
  internal/characters/thoma/charge.go
  internal/characters/traveler/common/anemo/charge.go
  internal/characters/traveler/common/dendro/charge.go
  internal/characters/traveler/common/electro/charge.go
  internal/characters/traveler/common/geo/charge.go
  internal/characters/traveler/common/hydro/charge.go
  internal/characters/wriothesley/charge.go
  internal/characters/wriothesley/wriothesley.go
  internal/characters/xiangling/charge.go
  internal/characters/xiao/charge.go
  internal/characters/xingqiu/charge.go
  internal/characters/yaoyao/charge.go
  internal/characters/yunjin/charge.go
  internal/characters/zhongli/charge.go
  internal/template/character/character.go
  pkg/core/player/character/character.go
  pkg/simulation/run.go
  pkg/testhelper/character.go
Labels: kind: enhancement, area: pkg, area: internal

#1990 fix infinite recursion err following charge err refactor
  internal/characters/furina/furina.go
  internal/characters/heizou/heizou.go
  internal/characters/tartaglia/tartaglia.go
  internal/characters/wriothesley/wriothesley.go
Labels: kind: bug, area: internal

#1991 fix invalid err when swapping to char doing charge as first action
  pkg/simulation/run.go
Labels: kind: bug, area: pkg

#1992 fix error ui showing config instead of actual error on upgrade
  ui/packages/ui/src/Pages/Viewer/index.tsx
Labels: kind: bug, area: web

#1993 move NextQueueItemIsValid check to properly account for swap
  pkg/simulation/run.go
Labels: kind: bug, area: pkg

#1995 fix yaoyao radishes dealing dmg to active character
  internal/characters/yaoyao/asc.go
  internal/characters/yaoyao/cons.go
  internal/characters/yaoyao/radish.go
  internal/characters/yaoyao/yuegui.go
Labels: kind: bug, area: internal

#2004 add more weapon/artifact shortcuts
  pkg/shortcut/artifacts.go
  pkg/shortcut/weapons.go
  ui/packages/docs/src/components/Names/artifact_data.json
  ui/packages/docs/src/components/Names/weapon_data.json
Labels: kind: enhancement, area: pkg

#2006 fix furina fanfare gain mechanics
  internal/characters/furina/burst.go
  internal/characters/furina/furina.go
Labels: kind: bug, area: internal

#2011 Fixing Furina C2 HP%
  internal/characters/furina/cons.go
Labels: kind: bug, area: internal

#2014 fix emblem name docs and status names
  internal/artifacts/emblem/emblem.go
  ui/packages/docs/src/components/Names/artifact_data.json
Labels: kind: bug, area: internal

#2015 fix baizhu e heal timing
  internal/characters/baizhu/skill.go
Labels: kind: bug, area: internal
