Repository genshinsim/gcsim, pull requests merged in 2024-01, with the labels that each got.

#1864 fix wriothesley enhanced ca not generating particles
  internal/characters/wriothesley/charge.go
Labels: kind: bug, area: internal

#1865 fix yunjin q, c2 and c6 duration
  internal/characters/yunjin/burst.go
  internal/characters/yunjin/cons.go
  internal/characters/yunjin/yunjin.go
Labels: kind: bug, area: internal

#1866 fix navia n3 snapshot timing
  internal/characters/navia/attack.go
Labels: kind: bug, area: internal

#1868 adjust attack speed model
  internal/frames/frames.go
  ui/packages/docs/docs/mechanics/atk_spd.md
Labels: area: internal, kind: game alignment

#1871 Clean up web console output
  ui/packages/db/src/Pages/Database/Database.tsx
  ui/packages/ui/src/Pages/Viewer/Components/Miscellaneous/TargetAuraUptimeBarChart/index.tsx
  ui/packages/ui/src/Pages/Viewer/Tabs/Results.tsx
Labels: kind: bug, area: web

#1872 add wasm optimization step for reduced file size
  .github/actions/deploy-wasm/action.yml
Labels: kind: enhancement, area: devops

#1874 fix cli -memprofile option
  cmd/gcsim/main.go
Labels: kind: bug, area: pkg

#1875 fix wriothesley na combo resetting on dash/skill
  internal/characters/wriothesley/attack.go
  internal/characters/wriothesley/dash.go
  internal/characters/wriothesley/wriothesley.go
Labels: kind: bug, area: internal

#1876 try fixing deployment following wasm optimization
  .github/actions/deploy-wasm/action.yml
Labels: kind: bug, area: devops

#1877 try fixing wasm optimization not finding file
  .github/actions/deploy-wasm/action.yml
Labels: kind: bug, area: devops

#1882 fix echoes dmg calculation not considering weapon base atk
  internal/artifacts/echoes/echoes.go
Labels: kind: bug, area: internal

#1886 return error instead of idling for invalid action sequences
  internal/characters/alhaitham/plunge.go
  internal/characters/dehya/dehya.go
  internal/characters/kazuha/plunge.go
  internal/characters/tartaglia/aimed.go
  internal/characters/tartaglia/charge.go
  internal/characters/venti/plunge.go
  internal/characters/wanderer/plunge.go
  internal/characters/xiao/plunge.go
  internal/tests/abilities/abil_test.go
Labels: kind: enhancement, area: internal

#1888 adjust SingleTargetHit attack pattern to not include player by default
  pkg/core/combat/hitbox.go
Labels: kind: bug, area: pkg, area: internal

#1889 fix sodp not considering healing from other set holders
  internal/artifacts/oceanhuedclam/oceanhuedclam.go
  internal/artifacts/songofdayspast/songofdayspast.go
  pkg/core/core.go
Labels: kind: bug, area: internal

#1885 add remaining reaction attack gcds
  pkg/reactable/freeze.go
  pkg/reactable/overload.go
  pkg/reactable/reactable.go
  pkg/reactable/superconduct.go
  pkg/reactable/swirl.go
Labels: area: pkg, kind: game alignment

#1892 fix lisa c1 timing
  internal/characters/lisa/skill.go
Labels: kind: bug, area: internal

#1895 Update docs for new substat optimizer
  ui/packages/docs/docs/guides/substat_optimizer.md
  ui/packages/docs/docs/reference/cli.md
Labels: kind: bug, area: documentation

#1896 update char checklist for PoiseDMG
  CONTRIBUTING.md
Labels: kind: enhancement, area: devops

#1898 fix swirl aoe attack delay
  pkg/reactable/swirl.go
Labels: kind: bug, area: pkg

#1891 Add chevreuse
  internal/characters/chevreuse/asc.go
  internal/characters/chevreuse/attack.go
  internal/characters/chevreuse/burst.go
  internal/characters/chevreuse/charge.go
  internal/characters/chevreuse/chevreuse.go
  internal/characters/chevreuse/config.yml
  internal/characters/chevreuse/cons.go
  internal/characters/chevreuse/skill.go
  internal/characters/chevreuse/stats.go
  internal/common/normalattackstate.go
  pkg/core/attacks/icd.go
  pkg/core/curves/charactercurves.go
  pkg/core/keys/char.go
  pkg/shortcut/characters.go
  pkg/simulation/imports.go
  ui/packages/db/src/Data/char_data.generated.json
  ui/packages/docs/docs/reference/characters/chevreuse.md
  ui/packages/docs/src/components/Actions/character_data.json
  ui/packages/docs/src/components/AoE/character_data.json
  ui/packages/docs/src/components/Fields/character_data.json
  ui/packages/docs/src/components/Frames/character_data.json
  ui/packages/docs/src/components/Hitlag/character_data.json
  ui/packages/docs/src/components/Names/character_data.json
  ui/packages/docs/src/components/Params/character_data.json
  ui/packages/ui/src/Data/char_data.generated.json
  ui/packages/ui/src/Translation/locales/IngameNames.json
Labels: area: internal, kind: game alignment

#1901 update syntax highlighting for chevreuse
  ui/yarn.lock
Labels: kind: bug, area: web

#1902 add artifact log for songofdayspast
  internal/artifacts/songofdayspast/songofdayspast.go
Labels: kind: enhancement, area: internal

#1903 fix chevreuse c4 extending heal by 12s instead of refreshing to 12s
  internal/characters/chevreuse/skill.go
Labels: kind: bug, area: internal

#1904 add .chevreuse.c6-stacks conditional
  internal/characters/chevreuse/chevreuse.go
  internal/characters/chevreuse/cons.go
  ui/packages/docs/src/components/Fields/character_data.json
Labels: kind: enhancement, area: internal

#1905 add .alhaitham.c2-stacks conditional
  internal/characters/alhaitham/alhaitham.go
  internal/characters/alhaitham/cons.go
  ui/packages/docs/src/components/Fields/character_data.json
Labels: kind: enhancement, area: internal

#1906 revert .chevreuse.c6-stacks from #1904
  internal/characters/chevreuse/chevreuse.go
  internal/characters/chevreuse/cons.go
  ui/packages/docs/src/components/Fields/character_data.json
Labels: kind: enhancement, area: internal

#1909 fix yelan c2 sharing icd with regular procs
  internal/characters/yelan/burst.go
Labels: kind: bug, area: internal

#1911 fix damage timeline graphs cutting off final bucket in some cases
  ui/packages/ui/src/Pages/Viewer/Components/Damage/DamageTimelineCard/CumulativeData.tsx
  ui/packages/ui/src/Pages/Viewer/Components/Damage/DamageTimelineCard/DamageOverTimeData.tsx
Labels: kind: bug, area: web

#1910 fix sim handling enemy damage on death frame incorrectly
  pkg/enemy/attack.go
Labels: kind: bug, area: pkg

#1915 change yelan breakthrough to be enabled at sim start by default
  internal/characters/yelan/yelan.go
  ui/packages/docs/src/components/Params/character_data.json
Labels: area: documentation, kind: enhancement, area: internal

#1913 print backtrace on simulation panic in CLI
  pkg/simulation/run.go
Labels: kind: enhancement, area: pkg

#1914 add cumulative damage statistic and graph in web
  pkg/agg/damage/damage.go
  pkg/model/result.pb.go
  pkg/stats/damage/damage.go
  pkg/stats/result.go
  pkg/stats/result_gen.go
  protos/model/result.proto
  ui/packages/types/src/sim.ts
  ui/packages/ui/src/Pages/Viewer/Components/Damage/CumulativeDamageCard/CumulativeDamage.tsx
  ui/packages/ui/src/Pages/Viewer/Components/Damage/CumulativeDamageCard/CumulativeDamageData.tsx
  ui/packages/ui/src/Pages/Viewer/Components/Damage/CumulativeDamageCard/CumulativeDamageTooltip.tsx
  ui/packages/ui/src/Pages/Viewer/Components/Damage/CumulativeDamageCard/index.tsx
  ui/packages/ui/src/Pages/Viewer/Components/Damage/index.tsx
  ui/packages/ui/src/Pages/Viewer/Tabs/Results.tsx
Labels: kind: enhancement, area: pkg, area: web

#1916 fix total damage/overall dps counting overkill
  pkg/core/combat/attack.go
  pkg/enemy/attack.go
Labels: kind: bug, area: pkg

#1917 fix cumulative damage and metadata sorting
  pkg/agg/damage/damage.go
  pkg/agg/metadata/metadata.go
  pkg/agg/util.go
Labels: kind: bug, area: pkg

#1918 fix shatter not being tracked in reaction stat
  pkg/stats/reaction/reaction.go
Labels: kind: bug, area: pkg

#1919 add param for travelergeo to not spawn meteorite on skill
  internal/characters/traveler/common/geo/skill.go
  ui/packages/docs/src/components/Params/character_data.json
Labels: kind: enhancement, area: internal

#1923 add dps diff to dbcompare output
  scripts/dbcompare/main.go
Labels: kind: enhancement, area: devops

#1922 move 100% base er to base stats
  internal/artifacts/emblem/emblem.go
  internal/characters/mona/asc.go
  internal/characters/raiden/asc.go
  internal/characters/raiden/burst.go
  internal/characters/sara/asc.go
  internal/characters/traveler/common/electro/skill.go
  internal/weapons/spear/engulfing/engulfing.go
  pkg/core/player/character/basestat.go
  pkg/core/player/character/energy.go
  pkg/optimization/optstats/energy_stats.go
Labels: kind: enhancement, area: pkg, area: internal

#1925 adjust dendro icon svg
  ui/packages/ui/src/Components/Icons/Icons.tsx
Labels: kind: enhancement, area: web

#1924 add total stats at t=0s to character card in viewer result tab
  ui/packages/ui/src/Components/Cards/CharacterCard.tsx
  ui/packages/ui/src/Pages/Sample/SamplePage.tsx
  ui/packages/ui/src/Pages/Simulator/Components/CharacterCardView.tsx
  ui/packages/ui/src/Pages/Simulator/Components/TeamBuilder/Builder.tsx
  ui/packages/ui/src/Pages/Simulator/Components/character.ts
  ui/packages/ui/src/Pages/Viewer/Components/Overview/TeamHeader.tsx
  ui/packages/ui/src/Translation/locales/Chinese.json
  ui/packages/ui/src/Translation/locales/English.json
  ui/packages/ui/src/Translation/locales/German.json
  ui/packages/ui/src/Translation/locales/Japanese.json
  ui/packages/ui/src/Translation/locales/Russian.json
  ui/packages/ui/src/Translation/locales/Spanish.json
Labels: kind: enhancement, area: web

#1927 fix outdated protos.d.ts
  ui/packages/types/src/protos.d.ts
Labels: kind: bug, area: web

#1926 add buttons to recover config on sim runtime error
  ui/packages/ui/src/Pages/Viewer/Tabs/Config.tsx
  ui/packages/ui/src/Pages/Viewer/Viewer.tsx
Labels: kind: enhancement, area: web

#1928 add experimental is_target_dead system function
  pkg/gcs/sysfunc.go
  ui/packages/docs/docs/reference/system_functions.md
Labels: kind: enhancement, area: pkg

#1929 fix simulation panic in cumulative dmg stat
  pkg/stats/damage/damage.go
Labels: kind: bug, area: pkg

#1930 fix recovery buttons not working
  ui/packages/ui/src/Pages/Simulator/Toolbox.tsx
  ui/packages/ui/src/Pages/Viewer/Tabs/Config.tsx
  ui/packages/ui/src/Pages/Viewer/UpgradeDialog.tsx
  ui/packages/ui/src/Pages/Viewer/Viewer.tsx
  ui/packages/ui/src/Pages/Viewer/index.tsx
  ui/packages/ui/src/Stores/viewerSlice.ts
Labels: kind: bug, area: web

#1931 fix wriothesley c2 applying at c0
  internal/characters/wriothesley/cons.go
Labels: kind: bug, area: internal

#1933 adjust wriothesley c2 to explicitly check for a4
  internal/characters/wriothesley/cons.go
Labels: kind: bug, area: internal

#1934 fix weapon name lookup not automatically closing on select
  ui/packages/ui/src/Pages/Simulator/Components/OmnibarBlock.tsx
Labels: kind: bug, area: web

#1935 add korean localization
  ui/packages/ui/src/Sectioning/Nav.tsx
  ui/packages/ui/src/Translation/i18n.ts
  ui/packages/ui/src/Translation/locales/Chinese.json
  ui/packages/ui/src/Translation/locales/English.json
  ui/packages/ui/src/Translation/locales/IngameNames.json
  ui/packages/ui/src/Translation/locales/Japanese.json
  ui/packages/ui/src/Translation/locales/Korean.json
  ui/packages/ui/src/Translation/locales/Russian.json
  ui/packages/ui/src/Translation/locales/Spanish.json
Labels: kind: enhancement, area: web

#1936 fix nav localization across all supported languages
  ui/packages/ui/src/Sectioning/Nav.tsx
  ui/packages/ui/src/Translation/locales/Chinese.json
  ui/packages/ui/src/Translation/locales/English.json
  ui/packages/ui/src/Translation/locales/German.json
  ui/packages/ui/src/Translation/locales/Japanese.json
  ui/packages/ui/src/Translation/locales/Korean.json
  ui/packages/ui/src/Translation/locales/Russian.json
  ui/packages/ui/src/Translation/locales/Spanish.json
Labels: kind: enhancement, area: web

#1937 fix simulator page localization in all supported languages
  ui/packages/ui/src/Components/Buttons/ExecutorSettingsButton.tsx
  ui/packages/ui/src/Pages/Simulator/Toolbox.tsx
  ui/packages/ui/src/Translation/locales/Chinese.json
  ui/packages/ui/src/Translation/locales/English.json
  ui/packages/ui/src/Translation/locales/German.json
  ui/packages/ui/src/Translation/locales/Japanese.json
  ui/packages/ui/src/Translation/locales/Korean.json
  ui/packages/ui/src/Translation/locales/Russian.json
  ui/packages/ui/src/Translation/locales/Spanish.json
  ui/packages/ui/src/index.tsx
Labels: kind: enhancement, area: web

#1938 add localization for landing page in all supported languages
  ui/packages/ui/src/Pages/Dash/Dash.tsx
  ui/packages/ui/src/Translation/locales/Chinese.json
  ui/packages/ui/src/Translation/locales/English.json
  ui/packages/ui/src/Translation/locales/German.json
  ui/packages/ui/src/Translation/locales/Japanese.json
  ui/packages/ui/src/Translation/locales/Korean.json
  ui/packages/ui/src/Translation/locales/Russian.json
  ui/packages/ui/src/Translation/locales/Spanish.json
Labels: kind: enhancement, area: web

#1939 fix localization for all supported languages in most places
  ui/packages/db/src/Pages/Database/DBVIew.tsx
  ui/packages/db/src/Sectioning/Nav.tsx
  ui/packages/db/src/SharedComponents/CharacterQuickSelect.tsx
  ui/packages/db/src/SharedComponents/DBEntryView.tsx
  ui/packages/db/src/SharedComponents/Filter.tsx
  ui/packages/ui/src/Components/Buttons/SendToSimulator.tsx
  ui/packages/ui/src/Components/Buttons/Share.tsx
  ui/packages/ui/src/Pages/Dash/Dash.tsx
  ui/packages/ui/src/Pages/Sample/Components/SampleView.tsx
  ui/packages/ui/src/Pages/Sample/SamplePage.tsx
  ui/packages/ui/src/Pages/Sample/index.tsx
  ui/packages/ui/src/Pages/Simulator/Components/Enka/ImportFromEnkaDialog.tsx
  ui/packages/ui/src/Pages/Simulator/Components/GOOD/ImportFromGOODDialog.tsx
  ui/packages/ui/src/Pages/Simulator/Toolbox.tsx
  ui/packages/ui/src/Pages/Viewer/Components/LoadingToast.tsx
  ui/packages/ui/src/Pages/Viewer/Tabs/Config.tsx
  ui/packages/ui/src/Pages/Viewer/Tabs/Sample.tsx
  ui/packages/ui/src/Pages/Viewer/UpgradeDialog.tsx
  ui/packages/ui/src/Pages/Viewer/Viewer.tsx
  ui/packages/ui/src/Sectioning/Nav.tsx
  ui/packages/ui/src/Translation/i18n.ts
  ui/packages/ui/src/Translation/locales/Chinese.json
  ui/packages/ui/src/Translation/locales/English.json
  ui/packages/ui/src/Translation/locales/German.json
  ui/packages/ui/src/Translation/locales/Japanese.json
  ui/packages/ui/src/Translation/locales/Korean.json
  ui/packages/ui/src/Translation/locales/Russian.json
  ui/packages/ui/src/Translation/locales/Spanish.json
  ui/packages/web/src/App.tsx
Labels: kind: enhancement, area: web

#1942 adjust landing page to show description of shown db entry
  ui/packages/db/src/SharedComponents/DBEntryView.tsx
  ui/packages/ui/src/Pages/Dash/Dash.tsx
Labels: kind: enhancement, area: web

#1943 fix alhaitham 2nd+ mirror loss timing
  internal/characters/alhaitham/skill.go
Labels: kind: bug, area: internal

#1944 fix DeleteMod modifying event expiry if called when mod already expired
  pkg/core/player/character/mods.go
  pkg/enemy/mods.go
Labels: kind: bug, area: pkg

#1945 remove landing page db entry console.log
  ui/packages/ui/src/Pages/Dash/Dash.tsx
Labels: kind: enhancement, area: web

#1946 adjust damage timeline legend to fill remaining space
  ui/packages/ui/src/Pages/Viewer/Components/Damage/DamageTimelineCard/index.tsx
Labels: kind: enhancement, area: web

#1947 adjust Sampler UI
  ui/packages/ui/src/Pages/Sample/Components/Options.tsx
  ui/packages/ui/src/Pages/Sample/Components/SampleView.tsx
  ui/packages/ui/src/Pages/Viewer/Tabs/Sample.tsx
Labels: kind: enhancement, area: web

#1948 add toggle for name search section on sim page
  ui/packages/types/src/user.ts
  ui/packages/ui/src/Pages/Simulator/Simulator.tsx
  ui/packages/ui/src/Pages/Simulator/Toolbox.tsx
  ui/packages/ui/src/Stores/userSlice.ts
  ui/packages/ui/src/Translation/locales/Chinese.json
  ui/packages/ui/src/Translation/locales/English.json
  ui/packages/ui/src/Translation/locales/German.json
  ui/packages/ui/src/Translation/locales/Japanese.json
  ui/packages/ui/src/Translation/locales/Korean.json
  ui/packages/ui/src/Translation/locales/Russian.json
  ui/packages/ui/src/Translation/locales/Spanish.json
Labels: kind: enhancement, area: web

#1949 fix staffofthescarletsands not having 0.3s stack gain icd
  internal/weapons/spear/scarletsands/scarletsands.go
Labels: kind: bug, area: internal

#1950 fix typos in the ru locale
  ui/packages/ui/src/Translation/locales/Russian.json
Labels: area: web

#1951 adjust padding on Sample Upload page and sample tab
  ui/packages/ui/src/Pages/Sample/SamplePage.tsx
  ui/packages/ui/src/Pages/Viewer/Tabs/Sample.tsx
Labels: kind: enhancement, area: web

#1953 more UI adjustments
  ui/packages/ui/src/Pages/Viewer/Components/Miscellaneous/TargetAuraUptimeBarChart/index.tsx
  ui/packages/ui/src/Sectioning/Nav.tsx
Labels: kind: enhancement, area: web
