Repository genshinsim/gcsim, pull requests merged in 2025-03, with the labels that each got.

#2351 fix xinyan c2
  internal/characters/xinyan/burst.go
  internal/characters/xinyan/cons.go
  internal/characters/xinyan/skill.go
  ui/packages/docs/src/components/Frames/character_data.json
Labels: kind: bug, area: internal

#2349 Yelan burst updates (N0, travel param, C2)
  internal/characters/yelan/burst.go
  internal/characters/yelan/yelan.go
  ui/packages/docs/src/components/Frames/character_data.json
Labels: kind: bug, area: internal

#2354 add yelan burst travel param to docs
  internal/characters/yelan/config.yml
  internal/characters/yelan/yelan_gen.go
  ui/packages/docs/src/components/Params/character_data.json
Labels: area: documentation, area: internal

#2356 fix cyno burst CA being able to infuse
  internal/characters/cyno/charge.go
Labels: kind: bug, area: internal

#2347 Fixed chasca c6 being broken
  internal/characters/chasca/aimed.go
  internal/characters/chasca/asc.go
  internal/characters/chasca/chasca.go
  internal/characters/chasca/cons.go
  internal/characters/chasca/skill.go
Labels: kind: bug, area: internal

#2348 fix .char.dash.cd and .char.dash.ready fields
  internal/template/character/ready.go
  pkg/conditional/character.go
Labels: kind: bug, area: pkg, area: internal

#2309 Implement noelle CA
  internal/characters/noelle/attack.go
  internal/characters/noelle/burst.go
  internal/characters/noelle/charge.go
  internal/characters/noelle/config.yml
  internal/characters/noelle/cons.go
  internal/characters/noelle/noelle.go
  internal/characters/noelle/noelle_gen.go
  internal/characters/noelle/plunge.go
  internal/characters/noelle/skill.go
  internal/template/character/stam.go
  ui/packages/docs/src/components/Actions/character_data.json
  ui/packages/docs/src/components/AoE/character_data.json
  ui/packages/docs/src/components/Frames/character_data.json
  ui/packages/docs/src/components/Hitlag/character_data.json
  ui/packages/docs/src/components/Params/character_data.json
Labels: area: internal, kind: game alignment

#2359 use UseStam in character abils
  internal/characters/neuvillette/charge.go
  internal/characters/noelle/charge.go
  internal/template/character/stam.go
  pkg/core/player/exec.go
  pkg/core/player/player.go
Labels: area: pkg, area: internal, kind: design limitation

#2358 Add swap ICD change to simulate booking
  pkg/core/player/player.go
  pkg/gcs/sysfunc.go
  ui/packages/docs/docs/reference/system_functions.md
Labels: kind: enhancement, area: pkg

#2360 Lanyan
  internal/characters/lanyan/asc.go
  internal/characters/lanyan/attack.go
  internal/characters/lanyan/burst.go
  internal/characters/lanyan/charge.go
  internal/characters/lanyan/config.yml
  internal/characters/lanyan/cons.go
  internal/characters/lanyan/data_gen.textproto
  internal/characters/lanyan/lanyan.go
  internal/characters/lanyan/lanyan_gen.go
  internal/characters/lanyan/shield.go
  internal/characters/lanyan/skill.go
  internal/services/assets/avatars_gen.go
  pkg/core/attacks/icd_groups_gen.go
  pkg/core/attacks/icd_tags_gen.go
  pkg/core/keys/keys_char_gen.go
  pkg/core/player/shield/shield.go
  pkg/shortcut/characters.go
  pkg/simulation/imports_char_gen.go
  ui/packages/components/src/Editor/mode-gcsim.js
  ui/packages/db/src/Data/char_data.generated.json
  ui/packages/docs/src/components/Actions/character_data.json
  ui/packages/docs/src/components/AoE/character_data.json
  ui/packages/docs/src/components/Frames/character_data.json
  ui/packages/docs/src/components/Hitlag/character_data.json
  ui/packages/docs/src/components/Params/character_data.json
  ui/packages/localization/src/locales/names.generated.json
  ui/packages/ui/src/Data/char_data.generated.json
  ui/packages/ui/src/util/mode-gcsim.js
Labels: area: internal, kind: game alignment

#2361 update wrangler-action
  .github/actions/deploy-workers/action.yml
Labels: area: devops

#2362 update wrangler
  ui/packages/workers/package.json
  ui/yarn.lock
Labels: area: devops

#2364 fix lanyan self absorb
  internal/characters/lanyan/asc.go
  internal/characters/lanyan/skill.go
Labels: kind: bug, area: internal

#2363 Mav bugfixes
  internal/characters/mavuika/charge.go
  internal/characters/mavuika/mavuika.go
  internal/characters/mavuika/skill.go
  ui/packages/components/src/Editor/mode-gcsim.js
  ui/packages/ui/src/util/mode-gcsim.js
Labels: kind: bug, area: internal

#2365 add tamayuratei no ohanashi
  internal/services/assets/weapons_gen.go
  internal/weapons/spear/tamayuratei/config.yml
  internal/weapons/spear/tamayuratei/data_gen.textproto
  internal/weapons/spear/tamayuratei/tamayuratei.go
  internal/weapons/spear/tamayuratei/tamayuratei_gen.go
  pkg/core/keys/weapon.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
  ui/packages/docs/docs/reference/weapons/tamayurateinoohanashi.md
  ui/packages/docs/src/components/Names/weapon_data.json
  ui/packages/ui/src/Data/weapon_data.generated.json
Labels: area: internal, kind: game alignment

#2366 add flower-wreathed feathers
  internal/services/assets/weapons_gen.go
  internal/weapons/bow/flowerwreathedfeathers/config.yml
  internal/weapons/bow/flowerwreathedfeathers/data_gen.textproto
  internal/weapons/bow/flowerwreathedfeathers/flowerwreathedfeathers.go
  internal/weapons/bow/flowerwreathedfeathers/flowerwreathedfeathers_gen.go
  pkg/core/keys/weapon.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
  ui/packages/docs/src/components/Names/weapon_data.json
  ui/packages/ui/src/Data/weapon_data.generated.json
Labels: area: internal, kind: game alignment
