Repository genshinsim/gcsim, pull requests merged in 2025-05, with the labels that each got.

#2387 Fix Chain Breaker's Flower—Feather Song: max atk stack is 3
  internal/weapons/bow/chainbreaker/chainbreaker.go
Labels: kind: bug, area: internal

#2388 Add Symphonist of Scents
  internal/services/assets/weapons_gen.go
  internal/weapons/spear/symphonist/config.yml
  internal/weapons/spear/symphonist/data_gen.textproto
  internal/weapons/spear/symphonist/symphonist.go
  internal/weapons/spear/symphonist/symphonist_gen.go
  pkg/core/keys/weapon.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
  ui/packages/docs/docs/reference/weapons/symphonistofscents.md
  ui/packages/docs/src/components/Names/weapon_data.json
  ui/packages/ui/src/Data/weapon_data.generated.json
Labels: area: internal, kind: game alignment

#2382 Fix missing heal main stat in optimizer
  pkg/optimization/substats.go
Labels: kind: bug, area: pkg

#2384 add shortcuts
  pkg/shortcut/artifacts.go
  pkg/shortcut/weapons.go
  ui/packages/docs/src/components/Names/artifact_data.json
  ui/packages/docs/src/components/Names/weapon_data.json
Labels: kind: enhancement, area: pkg

#2379 Add Sunny Morning Sleep-In
  internal/services/assets/weapons_gen.go
  internal/weapons/catalyst/sunnymorning/config.yml
  internal/weapons/catalyst/sunnymorning/data_gen.textproto
  internal/weapons/catalyst/sunnymorning/sunnymorning.go
  internal/weapons/catalyst/sunnymorning/sunnymorning_gen.go
  pkg/core/keys/weapon.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
  ui/packages/docs/docs/reference/weapons/sunnymorning.md
  ui/packages/docs/src/components/Names/weapon_data.json
  ui/packages/ui/src/Data/weapon_data.generated.json
Labels: area: internal, kind: game alignment

#2391 update files for nightly release
  .github/actions/deploy-binary/action.yml
Labels: kind: bug, area: devops

#2390 make tfd party buff stackable
  internal/weapons/catalyst/athousandfloatingdreams/athousandfloatingdreams.go
Labels: kind: bug, area: internal

#2328 Add Citlali
  internal/characters/citlali/asc.go
  internal/characters/citlali/attack.go
  internal/characters/citlali/burst.go
  internal/characters/citlali/charge.go
  internal/characters/citlali/citlali.go
  internal/characters/citlali/citlali_gen.go
  internal/characters/citlali/config.yml
  internal/characters/citlali/cons.go
  internal/characters/citlali/data_gen.textproto
  internal/characters/citlali/shield.go
  internal/characters/citlali/skill.go
  internal/services/assets/avatars_gen.go
  pkg/core/attacks/icd_groups_gen.go
  pkg/core/attacks/icd_tags_gen.go
  pkg/core/keys/keys_char_gen.go
  pkg/core/player/shield/shield.go
  pkg/shortcut/characters.go
  pkg/simulation/imports_char_gen.go
  ui/packages/components/src/Editor/mode-gcsim.js
  ui/packages/db/src/Data/char_data.generated.json
  ui/packages/docs/docs/reference/characters/citlali.md
  ui/packages/docs/src/components/Actions/character_data.json
  ui/packages/docs/src/components/AoE/character_data.json
  ui/packages/docs/src/components/Frames/character_data.json
  ui/packages/docs/src/components/Hitlag/character_data.json
  ui/packages/docs/src/components/Names/character_data.json
  ui/packages/docs/src/components/Params/character_data.json
  ui/packages/ui/src/Data/char_data.generated.json
  ui/packages/ui/src/util/mode-gcsim.js
Labels: area: internal, kind: game alignment

#2394 fix the frame of ns entering for citlali
  internal/characters/citlali/skill.go
Labels: kind: bug, area: internal

#2393 update pipeline
  internal/characters/citlali/config.yml
  internal/characters/mavuika/config.yml
  internal/weapons/catalyst/sunnymorning/data_gen.textproto
  ui/packages/docs/src/components/Fields/character_data.json
  ui/packages/localization/src/locales/names.generated.json
Labels: area: internal

#2397 Citlali fix
  internal/characters/citlali/citlali.go
  internal/characters/citlali/skill.go
Labels: kind: bug, area: internal

#2399 don't cache on assets not found
  ui/packages/workers/src/assets/index.ts
  ui/packages/workers/src/preview/handlePreview.ts
Labels: kind: bug, area: backend

#2400 fix citlali c6 stacks
  internal/characters/citlali/skill.go
Labels: kind: bug, area: internal

#2401 fix localization for db page
  ui/packages/db/src/index.tsx
  ui/packages/utils/src/i18n.ts
  ui/packages/utils/src/index.ts
Labels: kind: bug, area: web

#2402 fix i18next dependencies and rework card in main page
  ui/packages/db/package.json
  ui/packages/db/src/i18n.ts
  ui/packages/db/src/index.tsx
  ui/packages/storybook/package.json
  ui/packages/ui/package.json
  ui/packages/ui/src/Pages/Dash/Dash.tsx
  ui/packages/ui/src/index.tsx
  ui/packages/utils/src/index.ts
  ui/yarn.lock
Labels: kind: bug, area: web

#2407 start to check hutao c6 after hp set
  internal/characters/hutao/cons.go
Labels: kind: bug, area: internal

#2410 fix ororon burst ticks
  internal/characters/ororon/burst.go
  internal/characters/ororon/ororon.go
  ui/packages/docs/src/components/AoE/character_data.json
  ui/packages/docs/src/components/Hitlag/character_data.json
Labels: kind: bug, area: internal

#2403 change ayato c6 to not be affected by namisen
  internal/characters/ayato/ayato.go
  internal/characters/ayato/cons.go
Labels: kind: bug, area: internal

#2411 add validateArgument to simplify the sysfunc code
  pkg/gcs/eval.go
  pkg/gcs/eval_fn_test.go
  pkg/gcs/eval_test.go
  pkg/gcs/function.go
  pkg/gcs/op.go
  pkg/gcs/sysfunc.go
Labels: area: pkg, kind: design limitation

#2409 change kirara burst snapshot
  internal/characters/kirara/burst.go
Labels: kind: bug, area: internal

#2193 add ReceiveHeal to override healing
  internal/characters/arlecchino/arlecchino.go
  internal/characters/arlecchino/burst.go
  internal/characters/clorinde/asc.go
  internal/characters/clorinde/attack.go
  internal/characters/clorinde/clorinde.go
  internal/characters/clorinde/cons.go
  internal/characters/clorinde/heal.go
  internal/characters/clorinde/skill.go
  internal/template/character/heal.go
  internal/template/character/hp.go
  pkg/conditional/character.go
  pkg/core/player/character/character.go
  pkg/testhelper/character.go
Labels: area: pkg, kind: design limitation

#2404 Add Finale of the Deep Galleries
  internal/artifacts/finaleofthedeepgalleries/config.yml
  internal/artifacts/finaleofthedeepgalleries/finaleofthedeepgalleries.go
  internal/services/assets/artifacts_gen.go
  pkg/core/keys/sets.go
  pkg/shortcut/artifacts.go
  pkg/simulation/imports.go
  ui/packages/docs/docs/reference/artifacts/finaleofthedeepgalleries.md
  ui/packages/docs/src/components/Names/artifact_data.json
  ui/packages/localization/src/locales/names.generated.json
  ui/packages/ui/src/Data/artifact_data.generated.json
Labels: area: internal, kind: game alignment

#2405 Prevent Viridescent Venerer buffing catalyzed swirl
  internal/artifacts/viridescent/viridescent.go
Labels: kind: bug, area: internal
