Repository genshinsim/gcsim, pull requests merged in 2025-02, with the labels that each got.

#2332 Fix xilonen geo sampler being active if all samplers were converted
  internal/characters/xilonen/cons.go
  internal/characters/xilonen/skill.go
Labels: kind: bug, area: internal

#2336 update golangci-lint-action
  .github/workflows/golangci-lint.yml
  .golangci.yml
  internal/characters/kinich/kinich.go
  internal/characters/traveler/common/anemo/traveleranemo.go
  internal/characters/traveler/common/dendro/travelerdendro.go
  internal/characters/traveler/common/electro/travelerelectro.go
  internal/characters/traveler/common/geo/travelergeo.go
  internal/characters/traveler/common/hydro/travelerhydro.go
Labels: area: backend

#2335 fix ningguang noscreen param
  internal/characters/ningguang/skill.go
Labels: kind: bug, area: internal

#2316 Implement Chasca
  internal/characters/chasca/aimed.go
  internal/characters/chasca/asc.go
  internal/characters/chasca/attack.go
  internal/characters/chasca/burst.go
  internal/characters/chasca/chasca.go
  internal/characters/chasca/chasca_gen.go
  internal/characters/chasca/config.yml
  internal/characters/chasca/cons.go
  internal/characters/chasca/dash.go
  internal/characters/chasca/data_gen.textproto
  internal/characters/chasca/jump.go
  internal/characters/chasca/plunge.go
  internal/characters/chasca/skill.go
  internal/services/assets/avatars_gen.go
  internal/weapons/bow/slingshot/slingshot.go
  pkg/core/attacks/icd_groups_gen.go
  pkg/core/attacks/icd_tags_gen.go
  pkg/core/keys/keys_char_gen.go
  pkg/core/player/character/character.go
  pkg/core/player/character/hitlag.go
  pkg/shortcut/characters.go
  pkg/simulation/imports_char_gen.go
  ui/packages/components/src/Editor/mode-gcsim.js
  ui/packages/db/src/Data/char_data.generated.json
  ui/packages/docs/docs/reference/characters/chasca.md
  ui/packages/docs/src/components/Actions/character_data.json
  ui/packages/docs/src/components/AoE/character_data.json
  ui/packages/docs/src/components/Frames/character_data.json
  ui/packages/docs/src/components/Hitlag/character_data.json
  ui/packages/docs/src/components/Issues/character_data.json
  ui/packages/docs/src/components/Names/character_data.json
  ui/packages/docs/src/components/Params/character_data.json
  ui/packages/ui/src/Data/char_data.generated.json
  ui/packages/ui/src/util/mode-gcsim.js
Labels: area: internal, kind: game alignment

#2339 Added param for setting number of workers to use when running servermode
  cmd/server/main.go
  pkg/servermode/server.go
Labels: kind: enhancement, area: devops

#2331 Add burst cd warning
  backend/pkg/services/db/db.pb.go
  backend/pkg/services/db/db_grpc.pb.go
  backend/pkg/services/preview/preview.pb.go
  backend/pkg/services/preview/preview_grpc.pb.go
  backend/pkg/services/share/share.pb.go
  backend/pkg/services/share/share_grpc.pb.go
  pkg/agg/failures/failures.go
  pkg/agg/warnings/warnings.go
  pkg/model/data.pb.go
  pkg/model/db.pb.go
  pkg/model/enums.pb.go
  pkg/model/notification.pb.go
  pkg/model/result.pb.go
  pkg/model/sample.pb.go
  pkg/model/sim.pb.go
  protos/model/result.proto
  ui/packages/localization/src/locales/Chinese.json
  ui/packages/localization/src/locales/English.json
  ui/packages/localization/src/locales/German.json
  ui/packages/localization/src/locales/Japanese.json
  ui/packages/localization/src/locales/Korean.json
  ui/packages/localization/src/locales/Russian.json
  ui/packages/localization/src/locales/Spanish.json
  ui/packages/types/src/generated/protos/model/result.ts
  ui/packages/types/src/sim.ts
  ui/packages/ui/src/Pages/Viewer/Components/Warnings.tsx
Labels: kind: enhancement, area: pkg, area: web

#2337 Add .keys.element.<element>
  pkg/conditional/keys.go
  ui/packages/docs/docs/reference/fields.md
Labels: kind: enhancement, area: pkg

#2340 update upload-artifacts version
  .github/workflows/deploy.yml
Labels: area: devops

#2341 Fix chasca c2
  internal/characters/chasca/aimed.go
  internal/characters/chasca/chasca.go
  internal/characters/chasca/skill.go
Labels: kind: bug, area: internal

#2342 fix chasca name
  ui/packages/localization/src/locales/names.generated.json
Labels: kind: bug, area: web
