Repository genshinsim/gcsim, pull requests merged in 2025-04, with the labels that each got.

#2373 add vivid notions
  internal/services/assets/weapons_gen.go
  internal/weapons/catalyst/vividnotions/config.yml
  internal/weapons/catalyst/vividnotions/data_gen.textproto
  internal/weapons/catalyst/vividnotions/vividnotions.go
  internal/weapons/catalyst/vividnotions/vividnotions_gen.go
  pkg/core/keys/weapon.go
  pkg/shortcut/weapons.go
  pkg/simulation/imports.go
  ui/packages/docs/docs/reference/weapons/vividnotions.md
  ui/packages/docs/src/components/Names/weapon_data.json
  ui/packages/localization/src/locales/names.generated.json
  ui/packages/ui/src/Data/weapon_data.generated.json
Labels: area: internal, kind: game alignment

#2372 add long nights oath
  internal/artifacts/longnightsoath/config.yml
  internal/artifacts/longnightsoath/longnightsoath.go
  internal/services/assets/artifacts_gen.go
  pkg/core/keys/sets.go
  pkg/shortcut/artifacts.go
  pkg/simulation/imports.go
  ui/packages/docs/docs/reference/artifacts/longnightsoath.md
  ui/packages/docs/src/components/Names/artifact_data.json
  ui/packages/localization/src/locales/names.generated.json
  ui/packages/ui/src/Data/artifact_data.generated.json
Labels: area: internal, kind: game alignment

#2375 Mavuika bugfix: new CA cut short
  internal/characters/mavuika/charge.go
Labels: kind: bug, area: internal

#2333 Add timed Nightsoul Blessing
  internal/characters/kinich/burst.go
  internal/characters/kinich/kinich.go
  internal/characters/kinich/skill.go
  internal/characters/xilonen/cons.go
  internal/characters/xilonen/skill.go
  internal/characters/xilonen/xilonen.go
  internal/template/nightsoul/nightsoul.go
  ui/packages/docs/docs/reference/fields.md
Labels: area: internal, kind: design limitation

#2378 Fix Vivid Notions skill/burst buff
  internal/weapons/catalyst/vividnotions/vividnotions.go
Labels: kind: bug, area: internal
