Repository genshinsim/gcsim, pull requests merged in 2025-09, with the labels that each got.

#2371 add varesa
  internal/characters/raiden/burst.go
  internal/characters/varesa/asc.go
  internal/characters/varesa/attack.go
  internal/characters/varesa/burst.go
  internal/characters/varesa/charge.go
  internal/characters/varesa/config.yml
  internal/characters/varesa/cons.go
  internal/characters/varesa/data_gen.textproto
  internal/characters/varesa/plunge.go
  internal/characters/varesa/skill.go
  internal/characters/varesa/varesa.go
  internal/characters/varesa/varesa_gen.go
  internal/services/assets/avatars_gen.go
  pkg/core/attacks/icd_tags_gen.go
  pkg/core/event/event.go
  pkg/core/keys/keys_char_gen.go
  pkg/core/player/character/energy.go
  pkg/optimization/optstats/energy_stats.go
  pkg/shortcut/characters.go
  pkg/simulation/imports_char_gen.go
  ui/packages/components/src/Editor/mode-gcsim.js
  ui/packages/db/src/Data/char_data.generated.json
  ui/packages/docs/docs/reference/characters/varesa.md
  ui/packages/docs/src/components/AoE/character_data.json
  ui/packages/docs/src/components/Frames/character_data.json
  ui/packages/docs/src/components/Hitlag/character_data.json
  ui/packages/localization/src/locales/names.generated.json
  ui/packages/ui/src/Data/char_data.generated.json
  ui/packages/ui/src/util/mode-gcsim.js
Labels: area: internal, kind: game alignment

#2452 fix sucrose a4 not triggering on repeated burst hits
  internal/characters/sucrose/burst.go
Labels: kind: bug, area: internal

#2454 fix pmc c2 not activating on reaction
  internal/characters/traveler/common/pyro/cons.go
Labels: kind: bug, area: internal

#2455 fix nightsoul points field in docs
  ui/packages/docs/docs/reference/fields.md
Labels: kind: bug, area: documentation

#2457 varesa fixes
  internal/characters/varesa/asc.go
  internal/characters/varesa/burst.go
  internal/characters/varesa/plunge.go
  internal/characters/varesa/varesa.go
  internal/weapons/catalyst/vividnotions/vividnotions.go
  ui/packages/docs/src/components/Actions/character_data.json
Labels: kind: bug, area: documentation, area: internal

#2440 Implement Xianyun plunge for Candace, Chongyun, Kaeya, Lanyan, Razor, Rosaria, & Xinyan
  internal/characters/candace/candace_gen.go
  internal/characters/candace/config.yml
  internal/characters/candace/plunge.go
  internal/characters/chongyun/chongyun_gen.go
  internal/characters/chongyun/config.yml
  internal/characters/chongyun/plunge.go
  internal/characters/kaeya/config.yml
  internal/characters/kaeya/kaeya_gen.go
  internal/characters/kaeya/plunge.go
  internal/characters/lanyan/config.yml
  internal/characters/lanyan/lanyan_gen.go
  internal/characters/lanyan/plunge.go
  internal/characters/razor/config.yml
  internal/characters/razor/plunge.go
  internal/characters/razor/razor_gen.go
  internal/characters/rosaria/config.yml
  internal/characters/rosaria/plunge.go
  internal/characters/rosaria/rosaria_gen.go
  internal/characters/xinyan/config.yml
  internal/characters/xinyan/plunge.go
  internal/characters/xinyan/xinyan_gen.go
  ui/packages/docs/src/components/Actions/character_data.json
  ui/packages/docs/src/components/AoE/character_data.json
  ui/packages/docs/src/components/Frames/character_data.json
  ui/packages/docs/src/components/Params/character_data.json
Labels: area: internal, kind: game alignment

#2431 Fix CanQueueAfter for Various Characters
  internal/characters/arlecchino/burst.go
  internal/characters/arlecchino/skill.go
  internal/characters/ayaka/plunge.go
  internal/characters/chasca/burst.go
  internal/characters/chasca/skill.go
  internal/characters/clorinde/attack.go
  internal/characters/diona/burst.go
  internal/characters/diona/skill.go
  internal/characters/emilie/attack.go
  internal/characters/emilie/plunge.go
  internal/characters/freminet/skill.go
  internal/characters/kinich/burst.go
  internal/characters/kinich/charge.go
  internal/characters/lanyan/attack.go
  internal/characters/mavuika/skill.go
  internal/characters/mika/charge.go
  internal/characters/mualani/charge.go
  internal/characters/mualani/jump.go
  internal/characters/mualani/skill.go
  internal/characters/nahida/skill.go
  internal/characters/nilou/skill.go
  internal/characters/ororon/aimed.go
  internal/characters/sethos/skill.go
  internal/characters/sigewinne/burst.go
  internal/characters/tighnari/burst.go
  internal/characters/traveler/common/electro/burst.go
  internal/characters/traveler/common/geo/skill.go
  internal/characters/traveler/common/hydro/skill.go
  internal/characters/traveler/common/pyro/skill.go
  internal/characters/varesa/attack.go
  internal/tests/canqueueafter/can_queue_after_test.go
Labels: kind: bug, area: internal
